/**
 * Custom styles for the index page.
 */

#header-logo {}

.city-name {
	font-weight: 800;
	margin-bottom: 10px;
	font-size: 54px;
}

.date {
	margin-top: 10px;
}

#schedule {
	margin: auto;
	text-align: left;
	width: 100%;
}

.time {
	font-family: sans-serif;
	font-weight: 200;
	padding-right: 30px;
}

.sched-item {
	font-family: 'ostrich_sans';
	line-height: 1;
	padding-bottom: .3em;
	font-size: 32px;
}

.time {
	text-align: right;
}

.button-pair {
	margin-top: 20px;
}

/* sm break */
@media (min-width: 768px) {
	
	.city-name {
		font-size: 96px;
	}

	.date {
		margin-top: 10px;
	}

	.time {
		font-size: 16px;
	}

	.sched-item {
		font-size: 48px;
	}
	.button-pair {
		margin-top: 20px;
	}
}