/**
 * Custom styles for the index page.
 */

#header-logo {
	display: block;
	float: left;
	margin-right: 30px;
  max-width: 360px;
}

.city-name {
	font-size: 96px;
  font-weight: 800;
	margin-bottom: 10px;
}

.date {
  margin-top: 10px;
}

#schedule {
	margin: auto;
	text-align: left;
  width: 80%;
}

.time {
  font-family: sans-serif;
	font-size: 16px;
	font-weight: 200;
	padding-right: 30px;
}

.sched-item {
  font-family: 'ostrich_sans';
	font-size: 48px;
}

.time {
  text-align: right;
}

.button-pair {
  margin-top: 20px;
}