/**
 * Custom styles for the index page.
 */

#header-logo {
  max-width: 80%;
}

.city-name {
	font-size: 72px;
	font-weight: 800;
	margin-bottom: 0px;
  margin-top: 60px;
  line-height: 1em;
}

.date {
	margin-top: 0px;
  margin-bottom: 40px;
}

.top-row .subtitle {
  color: #eeeddb;
}

#schedule {
	margin: auto;
	text-align: left;
	width: 100%;
}

.time {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 200;
	padding-right: 30px;
}

.sched-item {
	font-family: 'ostrich_sans';
	font-size: 42px;
	line-height: 1;
	padding-bottom: .3em;
}

.time {
	text-align: right;
}

.button-pair {
	margin-top: 40px;
}
.button-label {
  margin-bottom: 20px;
}

.philly .top-row {
  margin-bottom: 230px;
}
