/**
 * Custom styles for the index page
 */
body {
  background-color: #eee;
  color: #2c0d00;
}

.jumbotron {
  background-color: #fff;
  border-bottom: 8px solid #bdab00;
}

.jumbotron h1 {
  margin-top: 76px;
}

#header-logo {
  float: left;
  margin-right: 30px;
  max-width: 300px;
}

.important {
  font-size: 32px;
}