.about-history .banner {
  background-color: $philly-maroon;
  background-image: url("/images/about.jpg");
  text-align: center;

  h2::after {
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  @include media(em(900)) {
    @include span-columns(7);
  }
}

aside {
  @include media(em(900)) {
    @include span-columns(5);
  }

  .action-primary {
    margin-bottom: 0.5em;
  }
}
