.api {
  max-width: em(700);
  margin: 0 auto;
  overflow: hidden;

  h2 {
    margin-top: 2rem;
  }

  li ul {
    @extend %default-ul;
  }

  li ol {
    @extend %default-ol;
  }

  h3 {
    margin-bottom: 1rem;
  }
}
