.philadelphia .banner {
  background-color: $philly-maroon;
  background-image: url("/images/philly.jpg");
}

.boston .banner {
  background-color: $boston-red;
  background-image: url("/images/boston.jpg");
}

.montreal .banner {
  background-color: $montreal-red;
  background-image: url("/images/montreal.jpg");
}

.chicago .banner {
  background-color: $chicago-red;
  background-image: url("/images/chicago.jpg");
}

.sf .banner {
  background-color: $sf-orange;
  background-image: url("/images/san-francisco.jpg");
}

.seattle .banner {
  background-color: $blue;
  background-image: url("/images/san-francisco.jpg");
}

.portland .banner {
  background-color: $medium-gray;
  background-image: url("/images/san-francisco.jpg");
}

.twin-cities .banner {
  background-color: $burnt-orange;
  background-image: url("/images/san-francisco.jpg");
}

.city-show header nav {
  display: none;
  @include media(em(580)) {
    display: block;
  }
}

.schedule {
  @include media(em(920)) {
    @include span-columns(6);
  }

  time {
    @include secondary-header;
  }

  h3 {
    line-height: 1.3;
  }

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sponsors {
  // space when stacked
  padding-top: $large-spacing;

  @include media(em(920)) {
    @include span-columns(6);
    @include omega();
    padding-top: 0;
  }

  header {
    @include row;
  }

  h2 {
    float: left;
  }

  .action-primary {
    float: right;
    margin-top: 0.25em;
  }
}

.sponsor-list {
  @include row;

  li {
    @include span-columns(4);
    text-align: center;

    @include media(em(920)) {
      @include span-columns(2 6);
      @include omega(3n);
      margin-bottom: 3em;
    }

    a {
      display: block;
    }

    h3 {
      @include secondary-header;
    }

    small {
      color: darken($light-tan, 10%);
      font-size: em(14);
    }

    img {
      margin-bottom: 1em;
    }

    .be-sponsor img {
      @include size(100% 160px);
      background-color: lighten($light-tan, 20%);
    }

    .ticketleap, 
    .citycoho {
      padding-top: 3em;
    }
  }
}


.prizes {
  padding-top: $large-spacing;

  @include media(em(920)) {
    @include span-columns(8);
  }

  li {
    @include span-columns(4);
    @include omega(2n);

    @include media(em(920)) {
      @include span-columns(4 8);
    }
  }
}

.judges {
  padding-top: $large-spacing;

  @include media(em(920)) {
    @include span-columns(4);
    @include omega();
  }

  p {
    @include secondary-header;
  }
}

.guidelines {
  clear: both;
  padding-top: $large-spacing;

  article {
    @include media(em(920)) {
      @include column-count(2);
      @include column-gap(flex-gutter());
    }
  }

  article + article {
    padding-top: $medium-spacing;
  }
}

.email-signup {
  clear: both;
  padding-top: $large-spacing;

  @include media(em(920)) {
    @include outer-container(60%);
  }
}

.slack-signup {
  clear: both;
  padding-top: $large-spacing;
  text-align: center;
}
