.mtl-h2 {
	display: inline;
}

.language-btn {
	text-transform: uppercase;
	display: inline;
	padding: 8px 10px;
	transform: translateY(-35%);
	margin-left: 10px;
	background-color: $montreal-red;
	border-radius: 0px;
}