---
layout: default
body-class: philadelphia city-show
title: 2016 Philadelphia Baseball Hack Day
url : http://baseballhackday.com/philly
twitter : phillybbhackday
socialimage: http://www.baseballhackday.com/images/bbhd-logo.png
---

<header class='banner'>
  <div class='wrapper'>
    <h2>Philadelphia</h2>
    <p class='time-location'>
      <span class='time'>Saturday, March 19th 2016, 9:30am – 6pm</span>
      <span class='location'>TBA Philadelphia</span>
    </p>
    <a class='action' href='#'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='mailto:kyle@thoughtbot.com'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='thoughtbot' href='http://thoughtbot.com/philly'>
          <img alt='thoughtbot logo' src='/images/thoughtbot.svg'>
          <h3>thoughtbot</h3>
        </a>
      </li>
      <!-- <li>
        <a class='ticketleap' href='http://ticketleap.com'>
          <img alt='TicketLeap Logo' src='/images/philly-sponsors/ticketleap.png'>
          <h3>TicketLeap</h3>
        </a>
      </li>
      <li>
        <a class='aviewfrommyseat' href='http://aviewfrommyseat.com'>
          <img alt='aviewfrommyseat Logo' src='/images/philly-sponsors/aviewfrommyseat.png'>
          <h3>A View From My Seat</h3>
        </a>
      </li>
      <li>
        <a class='citycoho' href='http://citycoho.com'>
          <img alt='CityCoHo Logo' src='/images/philly-sponsors/citycoho.jpg'>
          <h3>CityCoHo</h3>
        </a>
      </li>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
        </a>
      </li>
      <li>
        <a class='shadosports' href='http://shadosports.com'>
          <img alt='shadosports Logo' src='/images/boston-sponsors/shadosports.png'>
          <h3>Shado Sports</h3>
        </a>
      </li>
      <li>
        <a class='sportsdata' href='http://www.sportsdatallc.com/'>
          <img alt='sportsdata Logo' src='/images/boston-sponsors/sportsdata.png'>
          <h3>Sports Data, LLC</h3>
        </a>
      </li>
      <li>
        <a class='TiqIQ' href='http://www.tiqiq.com/'>
          <img alt='' src='/images/philly-sponsors/tiqiq.png'>
          <h3>TiqIQ</h3>
        </a>
      </li> -->
      <li>
        <a class='forge' href='http://forgeconf.com'>
          <img alt='' src='/images/philly-sponsors/forge-conf.png'>
          <h3>Forge Conference</h3>
        </a>
      </li>
    </ul>
  </section>



  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>TBA</li>
      <!--<li>
        <h3>Overall Winner</h3>
        <p>MLB.tv for the entire year provided by MLBAM. Tickets to a Phillie's game of your choice provided by TicketLeap.  A chance for the grand prize against the Overall Winners from Boston and Montreal.</p>
      </li>
      <li>
        <h3>Best Overall Concept</h3>
        <p>Each team member gets two tickets (For them and a friend) to a River Sharks game and the team will be able to throw out the first pitch to that game.</p>
      </li>
      <li>
        <h3>Best Overall Design</h3>
        <p>Tickets to a Phillie's game of your choice provided by TiqIQ and a set of Phillies caps provided by A View From My Seat.</p>
      </li>-->
    </ul>
  </section>



  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>TBA</li>
      <!--<li>
        <h3>
          <a href='http://alrightmike.com/294432/2632510/portfolio/summer-of-love-2011'>Mike Jackson</a>
        </h3>
        <p>Illustrator and visual journalist</p>
      </li>
      <li>
        <h3>
          <a href='http://aviewfrommyseat.com/'>Frank Panko</a>
        </h3>
        <p>Co-founder of A View From My Seat</p>
      </li>
      <li>
        <h3>
          <a href='http://mlb.com'>Steve Koller</a>
        </h3>
        <p>MLBAM Director of Software Engineering</p>
      </li> -->
    </ul>
  </section>



  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
</div>
