---
layout: default
body-class: philadelphia city-show
title: 2018 Philadelphia Baseball Hack Day
twitter : phillybbhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---

<header class='banner'>
  <div class='wrapper'>
    <h2>Philadelphia</h2>
    <p class='time-location'>
      <!-- <span class='time'>Saturday, March 17th 2018, 9:30am – 6pm</span> -->
      <span class='location'>TBA<!-- Huntsman Hall 370, Wharton School, University of Pennsylvania --></span>
    </p>
    <!-- <a class='action' href='http://baseballhackday.ticketleap.com/philadelphia-baseball-hack-day-2018'>Register!</a> -->
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='mailto:courtney@o3world.com'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <!-- <li>
        <a class='thoughtbot' href='http://thoughtbot.com/philly'>
          <img alt='thoughtbot logo' src='/images/thoughtbot.svg'>
          <h3>thoughtbot</h3>
        </a>
      </li>
      <li>
        <a class='ticketleap' href='http://ticketleap.com'>
          <img alt='TicketLeap Logo' src='/images/philly-sponsors/ticketleap.png'>
          <h3>TicketLeap</h3>
        </a>
      </li>
      <li>
        <a class='aviewfrommyseat' href='http://aviewfrommyseat.com'>
          <img alt='aviewfrommyseat Logo' src='/images/philly-sponsors/aviewfrommyseat.png'>
          <h3>A View From My Seat</h3>
        </a>
      </li>
      <li>
        <a class='whartoncomputing' href='https://computing.wharton.upenn.edu/'>
          <img alt='whartoncomputing Logo' src='/images/philly-sponsors/wharton-computing.png'>
          <h3>Wharton Computing</h3>
        </a>
      </li>
      <li>
        <li>
        <a class='inverseparadox' href='http://www.inverseparadox.com/'>
          <img alt='inverseparadox Logo' src='/images/philly-sponsors/inverse-paradox.svg'>
          <h3>Inverse Paradox</h3>
        </a>
      </li>
      <li>
        <a class='forge' href='http://forgeconf.com'>
          <img alt='' src='/images/philly-sponsors/forge-conf.png'>
          <h3>Forge Conference</h3>
        </a>
      </li>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li> -->
    </ul>
  </section>



  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <!-- <li>
        <h3>Philadelphia Overall Winners</h3>
        <p>
          The winning team of the Philadelphia competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li>
        <h3>
          Best Use of
          <a href='https://developer.sportradar.com/'>SportRadar API</a>
        </h3>
        <p>
           The project across all 5 cities that makes the best use of SportRadar API wins a 2018 season (6-month) Real Time MLB key.
        </p>
      </li>
      <li>
        <h3>Philadelphia Runner-Ups</h3>
        <p>
          The runner-up team of the Philadelphia competition will win
          <a href=' http://www.baseballprospectus.com/subscriptions/'>an annual Baseball Prospectus Super Premium subscription</a> for each team member (maximum team size of four).
        </p>
      </li> -->
      <li>
        <p>
          and more!
          <a href='mailto:daigo@baseballhackday.com'>(Want to sponsor a prize? Email us.)</a>
        </p>
      </li>
    </ul>
  </section>



  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>TBA</li>
      <!--<li>
        <h3>
          <a href='http://alrightmike.com/294432/2632510/portfolio/summer-of-love-2011'>Mike Jackson</a>
        </h3>
        <p>Illustrator and visual journalist</p>
      </li>
      <li>
        <h3>
          <a href='http://rjmetrics.com/'>Kevin Jackson</a>
        </h3>
        <p>UX Director, RJ Metrics</p>
      </li>
      <li>
        <h3>
          <a href='http://mlb.com'>Steve Koller</a>
        </h3>
        <p>MLBAM Director of Software Engineering</p>
      </li> -->
    </ul>
  </section>



  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
  
  {% include slack-signup.html %}
</div>
