%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.action {
  color: #140707;
  background-color: $light-tan;
  padding: 0.25em 1em;
  font-family: $sub-header-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: em(24);
}
