---
layout: default
body-class: sf city-show
title: 2016 Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2016.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
  <div class='wrapper'>
    <h2>San Francisco</h2>
    <p class='time-location'>
      <span class='time'>Saturday, March 19th 2016, 9:30am – 6pm</span>
      <span class='location'>FLUX, 1370 Harrison Street, San Francisco, CA, 94103</span>
    </p>
    <a class='action' href='#'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
        </a>
      </li>
      <li>
          <h3>.. and more!</h3>
      </li>
    </ul>
  </section>



  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>San Francisco Overall Winner</h3>
        <p>
          Winning team of the San Francisco competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four)
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li>... and more!</li>
    </ul>
  </section>



  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <!-- <li>
        <h3>George Herman Ruth, Jr.</h3>
        <p>
          American professional baseball player
        </p>
      </li> -->
      <li>
        <h3></h3>
        <p>TBA
        </p>
      </li>
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Come join us, March 19!</h2>
    <article>
      <p>Love creating stuff on your computer and LOVE baseball? Come hack with us on March 19 at FLUX, <a href="https://www.google.com/maps/place/1370+Harrison+St,+San+Francisco,+CA+94103/@37.7719992,-122.4131918,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7e28f3f8d8e3:0x91aa78a66be1b308">1370 Harrison Street, San Francisco, CA, 94103</a>!</p>

      <p>The fifth annual Baseball Hack Day is a fun, friendly one-day hacking competition (also known as hackathon, hackfest or codefest) for baseball fans.</p>

      <p>It is the day where area baseball minds come together and see what cool projects can be created within a limited time. The project could be (but is not limited to) a tool, app, website, or data visualization. Baseball Hack Day is a free event thanks to our generous sponsors. The event is based on the principal of <a href="http://hackdaymanifesto.com/">the Hack Day Manifesto</a>.</p>

      <p>New to hack days? Have no fear. See  to get an idea. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiraton blog on tumblr</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a></p>

      <p>
        <a class='action-primary' href='https://www.eventbrite.com/e/baseball-hack-day-sf-tickets-22335829066'>
          Register now
        </a>
      </p>
    </article>
  </section>


  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
</div>
