---
layout: default
body-class: index
---

<header class='hero'>
  <div class='hero-content'>
    <h3>Sat. March 25, 2017</h3>

    <h1 class='logo'>
      {% include bbhd-logo.svg %}
    </h1>

    <h2>
      <a href="https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit#heading=h.bcr8li91lkae">
        Host a Baseball Hack Day in your city
      </a>
    </h2>

    <h3 class="about-history">
      <a href="/about-history">
        About &amp; History
      </a>
    </h3>

    <!-- <h2>When you come to a fork in the road, take it.</h2> -->
    <!-- <h5>—Yogi Berra</h5> -->

    {% comment %}
    {% include pick-your-city-index.html %}
    {% endcomment %}

  </div>
</header>
