---
layout: default
body-class: index
---


%header.hero
  %h1.logo {% include bbhd-logo.svg %}
  %h2 Hacking is 90% mental, the other half is physical.
  %h3 Pick your team

.cities
  %a.boston.city{ href: "/boston" }
    .container
      %h2 Boston
      %p.time-location
        %span.time March 28th 2015, 9:30am – 6pm
        %span.location The Boston Globe, 135 Morrissey Blvd. Boston

      .action Join team

  %a.philly.city{ href: "/philly" }
    .container
      %h2 Philadelphia
      %p.time-location
        %span.time March 28th 2015, 9:30am – 6pm
        %span.location CityCoHo, 2401 Walnut St. Philadelphia

      .action Join team
