---
layout: default
body-class: index
---

<header class="hero">
  <div class="hero-content">
    <h2 class="mbm">Join us: <br/>Sat. March 9, 2019</h2>

    <h1 class="logo">
      {% include bbhd-logo.svg %}
    </h1>

    <h4 class="mbl mhl tan">Fun, friendly, one-day coding competition for baseball fans. <a href="/about-history">More.</a></h4>

    <p class="mbl mhl tan">
      Plans are underway. Check back around begining of the Spring Training for more info.
      <br>
      In the meanwhile, <a href="http://eepurl.com/tNLSz">join our mail list</a> or <a href="https://baseballhackday-slack.herokuapp.com/">discuss your ideas on our slack</a>!</p>

    {% include pick-your-city-index.html %}



    <h3 class="about-history mtxl">
      <div>
        Interested in <a href="https://docs.google.com/document/d/1lA_9jqN2oqfVSRw3RnjVvqJ8Ik1Khvy6q4MVj15tCpc/">Sponsoring?</a> (Thank you!)
      </div>
      <div>
        Don't see your city? <a href="https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit?usp=sharing">START YOUR OWN!</a>
      </div>
      
      <div>
        <a href="/about-history">About Baseball Hack Day and its History</a>
      </div>

      <div>
        <a href="http://eepurl.com/tNLSz">Join our mail list</a> or <a href="https://baseballhackday-slack.herokuapp.com/">our slack</a>
      </div>
    </h3>

  </div>
</header>
