---
layout: default
body-class: philadelphia
---

%header
  .wrapper
    %h2 Philadelphia
    %p.time-location
      %span.time March 28th 2015, 9:30am – 6pm
      %span.location TBD

    .action Join team

%section.schedule
  %h2 Schedule
  %ul
    %li 
      %time{ datetime: "", pubdate: "" } 9:30 &ndash; 10:00am
      %h3 Registration, Meet and Greet, and Coffee.
    %li 
      %time{ datetime: "", pubdate: "" } 10:00 &ndash;
      %h3 Welcome, introductions, and pitch
    %li 
      %time{ datetime: "", pubdate: "" } 9:30
      %h3 Registration, Meet and Greet, and Coffee.

%section.sponsors
  %h2 Sponsors

  %a.action-primary{ href: "mailto:kyle@thoughtbot.com" }
    Be a Sponsor

  %ul
    %li
      %a{ href: "http//:thoughtbot.com" } thoughtbot


%section.prizes
  %h2 Prizes
  %ul
    %li
      %h3 Overall Winner
      %p Grand prize: MLB at Bat and MLB.tv subscription ($130 value x the number of team members, up to 4)

%section.judges
  %h2 Judges
  %ul
    %li
      %h3 NAME
      %p title

%section.guidelines
  %h2 Guidelines &amp; Rules

  %p First and foremost, this event will be a success if everyone has a good time, so rule number 1, please don't do anything that would detract from the fairness or fun of the event. Respect your fellow hackers.
  %p We are using a hack submission service called ChallengePost (http://www.challengepost.com). In order to win, you need to submit the hacks through it. It helps organizers keep track of the teams and the projects they create.
  %p Hacks could be (but are not limited to) a tool, application, software, website, or data visualization and may be built using any programing language and platform that you choose. Teams can be of any size, but awards are only given to up to four individuals. Hacks will be judged for 1) Creativity/Originality, 2) Design/Presentation, and 3) Execution/Functionality.
  %p The majority of your coding must happen during the event. Some work done prior to the event is allowed, but it should be disclosed at your demo. Ideas that are compact and executable in one-day format are encouraged, and we will reward teams that recognize this time constraint.
  %p At 6 o'clock, you will have 3 to 5 minutes of presentation and demo time (depending on how many projects there are). Judges also will come around during the event and you are encouraged to tell them about your projects at that time.
  %p Prototypes/mockups for demo is OK, but *working* websites or mobile apps are strongly encouraged.

