---
layout: default
body-class: chicago city-show
title: 2016 Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans. 
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2016.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
  <div class='wrapper'>
    <h2>Chicago</h2>
    <p class='time-location'>
      <span class='time'>Saturday, March 19th 2016, 9:30am – 7pm (CST)</span>
      <span class='location'>Dev Bootcamp - 351 West Hubbard Street. 7th floor. Chicago, IL 60654</span>
    </p>
    <a class='action' href='https://www.eventbrite.com/e/baseball-hack-day-chicago-tickets-21176845515'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='dev-bootcamp' href='http://devbootcamp.com'>
          <img alt='DBC Logo' src='/images/chicago-sponsors/dbc.png'>
          <h3>Dev Bootcamp</h3>
          <small>Food and Venue</small>
        </a>
      </li>
      <li>
        <a class='pitch-info' href='http://pitchinfo.com'>
          <img alt='Pitch Info Logo' src='/images/chicago-sponsors/pitch_info.png'>
          <h3>Pitch Info</h3>
          <small>Hall of Fame Sponsor</small>
        </a>
      </li>
      <li>
        <a class='holberg-financial' href='http://holbergfinancial.com'>
          <img alt='Holberg Financial Logo' src='/images/chicago-sponsors/holberg_financial.png'>
          <h3>Holberg Financial</h3>
          <small>All Star Sponsor</small>
        </a>
      </li>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
      <li>
          <h3 class="chi-more">.. and more!</h3>
      </li>
    </ul>
  </section>


  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>Chicago Overall Winner</h3>
        <p>
          Winning team of the Chicago competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four)
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li>... and more!</li>
    </ul>
  </section>


  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>
        <h3>Harry Pavlidis</h3>
        <p>
          Director of Technology for Baseball Prospectus, Founder of Pitch Info
        </p>
      </li>
      <li>
        <h3></h3>
        <p>Other Judges TBA
        </p>
      </li>
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
</div>
