---
layout: default
body-class: chicago city-show
title: 2017 Chicago Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
  <div class='wrapper'>
    <h2>Chicago</h2>
    <p class='time-location'>
      <span class='time'>Saturday, March 25, 2017, 9:00am – 5:30pm (CST)</span>
      <span class='location'>mHub, 965 West Chicago Avenue, Chicago, IL 60642</span>
    </p>
    <a class='action' target="_blank" href='https://www.eventbrite.com/e/baseball-hack-day-chicago-2018-tickets-43809474317'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <!-- <li>
        <a class='pitch-info' href='http://pitchinfo.com'>
          <img alt='Pitch Info Logo' src='/images/chicago-sponsors/pitch_info.png'>
          <h3>Pitch Info</h3>
          <small>Food, API, and Prizes</small>
        </a>
      </li>
      <li>
        <a class='conde-nast' href='http://condenast.com'>
          <img alt='Conde Nast Logo' src='/images/chicago-sponsors/conde.png'>
          <h3>Conde Nast</h3>
          <small>Food and Prizes</small>
        </a>
      </li> -->
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prizes</small>
        </a>
      </li>
      <!-- <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes, Pitch Tunnels data</small>
        </a>
      </li> -->
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
    </ul>
  </section>


  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>Chicago Overall Winners</h3>
        <p>
          The winning team of the Chicago competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve an additional prize (and major bragging rights!)
        </p>
      </li>
      <!-- <li>
        <h3>
          Best Use of
          <a href='https://developer.sportradar.com/'>SportRadar API</a>
        </h3>
        <p>
           The project across all 4 cities that makes the best use of SportRadar API wins a 2018 season (6-month) Real Time MLB key.
        </p>
      </li>
      <li>
        <h3>Chicago Runner-Ups</h3>
        <p>
          The runner-up team of the Chicago competition will win
          <a href=' http://www.baseballprospectus.com/subscriptions/'>an annual Baseball Prospectus Super Premium subscription</a> for each team member (maximum team size of four).
        </p>
      </li> -->
      <li>
        <p>
          and more!
          <a href='mailto:daigo@baseballhackday.com'>(Want to sponsor a prize? Email us.)</a>
        </p>
      </li>
    </ul>
  </section>


  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <!-- <li>
        <h3>Harry Pavlidis</h3>
        <p>
          Director of Technology for Baseball Prospectus, Founder of Pitch Info
        </p>
      </li>
      <li>
        <h3>Matt Denewitz</h3>
        <p>
          Director of Engineering User Utility, Conde Nast
        </p>
      </li>
      <li>
        <h3>Andy Alexander</h3>
        <p>
          
        </p>
      </li> -->
    </ul>
  </section>

  <section class='guidelines'>
    <h2>Come join us on March 17th!</h2>
    <article>
    <p>Love creating stuff on your computer and LOVE baseball? Come hack with us on March 17 at mHub,&nbsp;965 West Chicago Avenue.</p>
    <p><a href="http://www.baseballhackday.com/" target="_blank">Baseball Hack Day</a>&nbsp;is an annual on-site, in-person hacking event where area baseball fans come together and create baseball-related projects to compete in a fun, friendly, one-day competition.</p>
    <p>Born in Boston spring of 2012, Baseball Hack Day is a grass-roots, open-sourced movement, held at the same day at different locations all around the world. The goal of the day is to bring creative tech minds into one room, and see what they can produce within a limited time. The project could be (but is not limited to) a tool, simple web app, mobile app, web site, data visualization, or a video.</p>
    <p>This event is based on the principal of the original&nbsp;<a href="http://hackdaymanifesto.com/" target="_blank">the Hack Day Manifesto</a>&nbsp;and will always be free to attend, thanks to our generous sponsors. We are run by volunteers, pro bono, labor for love, and we&rsquo;ll never be for-profit. We follow&nbsp;<a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html" target="_blank">contributor-covenant-style code of conduct</a>.</p>
    <p>New to hack days? Have no fear. This is a hackathon of developers and designers of all levels. See past submissions to get an idea. See our resources in&nbsp;<a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas" target="_blank">github wiki</a>, check out&nbsp;<a href="http://baseballhackday.tumblr.com/" target="_blank">our inspiraton blog on tumblr</a>, and follow us on&nbsp;<a href="https://twitter.com/baseballhackchi" target="_blank">Twitter @BaseballHackChi</a>.<br /></p>

    <a class="action-primary" href="https://www.eventbrite.com/e/baseball-hack-day-chicago-2018-tickets-43809474317">Register now</a>
    </article>
  </section>

  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
  
  {% include slack-signup.html %}
</div>
