---
layout: default
body-class: chicago city-show
title: 2017 Chicago Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2016.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
  <div class='wrapper'>
    <h2>Chicago</h2>
    <p class='time-location'>
      <span class='time'>Saturday, March 25, 2017, 9:30am – 6pm (CST)</span>
      <span class='location'>Dev Bootcamp, 1033 West Van Buren Street, Chicago, IL 60607</span>
    </p>
    <a class='action' target="_blank" href='https://www.eventbrite.com/e/baseball-hack-day-chicago-tickets-31808698674?aff=erelexpmlt'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='pitch-info' href='http://pitchinfo.com'>
          <img alt='Pitch Info Logo' src='/images/chicago-sponsors/pitch_info.png'>
          <h3>Pitch Info</h3>
          <small>Food, API, and Prizes</small>
        </a>
      </li>
      <li>
        <a class='conde-nast' href='http://condenast.com'>
          <img alt='Conde Nast Logo' src='/images/chicago-sponsors/conde.png'>
          <h3>Conde Nast</h3>
          <small>Food and Prizes</small>
        </a>
      </li>
      <li>
        <a class='dev-bootcamp' href='http://devbootcamp.com'>
          <img alt='DBC Logo' src='/images/chicago-sponsors/dbc.png'>
          <h3>Dev Bootcamp</h3>
          <small>Food and Venue</small>
        </a>
      </li>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes, Pitch Tunnels data</small>
        </a>
      </li>
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
    </ul>
  </section>


  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>Chicago Overall Winners</h3>
        <p>
          The winning team of the Chicago competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve an additional prize (and major bragging rights!)
        </p>
      </li>
      <li>
        <h3>
          Best Use of
          <a href='https://developer.sportradar.com/'>SportRadar API</a>
        </h3>
        <p>
           The project across all 4 cities that makes the best use of SportRadar API wins a 2017 season (6-month) Real Time MLB key.
        </p>
      </li>
      <li>
        <h3>Chicago Runner-Ups</h3>
        <p>
          The runner-up team of the Chicago competition will win
          <a href=' http://www.baseballprospectus.com/subscriptions/'>an annual Baseball Prospectus Super Premium subscription</a> for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <p>
          and more!
          <a href='mailto:daigo@baseballhackday.com'>(Want to sponsor a prize? Email us.)</a>
        </p>
      </li>
    </ul>
  </section>


  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>TBA</li>
      <!-- <li>
        <h3>Harry Pavlidis</h3>
        <p>
          Director of Technology for Baseball Prospectus, Founder of Pitch Info
        </p>
      </li>
      <li>
        <h3>Michael Danes</h3>
        <p>
          Director, Software Engineering, MLB Advanced Media
        </p>
      </li>
      <li>
        <h3>David Bridges</h3>
        <p>
          Marketing Producer, Chicago Cubs
        </p>
      </li> -->
    </ul>
  </section>

  <section class='guidelines'>
    <h2>Come join us on March 25th!</h2>
    <article>
      <p>Love creating stuff on your computer? Love baseball? Come hack with us on March 25 at Dev Bootcamp Chicago, located at <a href="https://www.google.com/maps/place/Dev+Bootcamp/@41.8764557,-87.6554077,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2cb60fc662cb:0x5d92dee2fc38026!8m2!3d41.8764517!4d-87.6532137" target="_blank">1033 W Van Buren St, Chicago, IL 60607</a>!</p>

      <p>The sixth annual Baseball Hack Day is a fun, friendly, one-day hacking competition for baseball fans of all skill levels.</p>

      <p>At Baseball Hack Day, baseball mind come together and see what cool projects can be created within a limited time. The project could be (but is not limited to) a tool, app, website, or data visualization. Baseball Hack Day is a free event thanks to our generous sponsors and is based on the principles of <a href="http://hackdaymanifesto.com/" target="_blank">the Hack Day Manifesto</a>.</p>

      <p>New to hack days? Have no fear! All skill levels are welcome. See our resources in our <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">GitHub wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiration blog on Tumblr</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a>.</p>

      <p>
        <a class='action-primary' href='https://www.eventbrite.com/e/baseball-hack-day-chicago-tickets-31808698674?aff=erelexpmlt' target="_blank">
          Register now
        </a>
      </p>
    </article>
  </section>

  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
  
  {% include slack-signup.html %}
</div>
