<ul>
    <li>
      <time datetime='' pubdate=''>9:30 &ndash; 10:00am </time>
      <h3>Registration, Meet and Greet, and Coffee</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>10:00 &ndash; 10:30am </time>
      <h3>Welcome, Introductions, and Pitch</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>10:30 &ndash; 12:30pm </time>
      <h3>Design and Code</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>12:30 &ndash; 1:30pm</time>
      <h3>Lunch</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>1:30 &ndash; 5:30pm </time>
      <h3>More Design and Code</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>5:30 &ndash; 6:00pm </time>
      <h3>Presentation, Judging and Awards</h3>
    </li>
    <li>
      <time datetime='' pubdate=''>6:30pm</time>
      <h3>Let’s go for a beer!</h3>
    </li>
</ul>    