<a href="mailto:daigo@baseballhackday.com">Daigo Fujiwara</a>, Matthew Shanley, David Thyresson, and Patrick Garvin (<a href="/boston">Boston</a>)
<br>Courtney Wilburn and Mike Gadsby (Philadelphia)
<br>Warren Wilansky &amp; Erin Whitney (<a href="/montreal">Montreal</a>)
<br>Wil Chandler &amp; Colin Shevlin (<a href="/chicago">Chicago</a>)
<br>Jesse Zbikowski (SF/Bay Area)
<br>Chris A (Portland, OR)
<br>Adam Even Engel (Seattle)
<br>Teke O'Reilly (Twin Cities)
<br>Geoff Harcourt (<a href="/dc">Washington D.C.</a>)
<br>Elizabeth Cotton (<a href="/sandiego">San Diego</a>)
