<a href="mailto:daigo@baseballhackday.com">Daigo Fujiwara</a>, Matthew Shanley, David Thyresson, and Patrick Garvin (<a href="/boston">Boston</a>)
<br>Courtney Wilburn, Mike Gadsby &amp; Kyle Fiedler (<a href="/philly">Philadelphia</a>)
<br>Warren Wilansky &amp; Erin Whitney (<a href="/montreal">Montreal</a>)
<br>Wil Chandler &amp; Colin Shevlin (<a href="/chicago">Chicago</a>)
<br>Jesse Zbikowski (<a href="/sf">SF/Bay Area</a>)
<br>Chris A (Portland, OR)
<br>Adam Even Engel (Seattle)
<br>Teke O'Reilly (<a href="/twin-cities">Twin Cities</a>)
<br>Geoff Harcourt (Washington D.C.)