<a href="mailto:daigo@baseballhackday.com">Daigo Fujiwara</a>, Matthew Shanley, David Thyresson, and Patrick Garvin (<a href="/boston">Boston</a>),
<br>Courtney Wilburn, Mike Gadsby &amp; Kyle Fiedler (<a href="/philly">Philadelphia</a>),
<br>Warren Wilansky &amp; Erin Whitney (<a href="/montreal">Montreal</a>)
<br>Wil Chandler &amp; Colin Shevlin (<a href="/chicago">Chicago</a>)
<br>David Lee &amp; Jesse Zbikowski (<a href="/sf">SF/Bay Area</a>)
<br>Chris Adams (<a href="/portland">Portland, OR</a>)
<br>Adam Even Engel (<a href="/seattle">Seattle</a>)
<br>Teke O'Reilly (<a href="/minneapolis">Minneapolis</a>)
<br>Geoff Harcourt (<a href="#">Washington D.C.</a>)