      <ul>
        <li class="mbm">
          <strong>2017 winner:</strong> <a href="https://devpost.com/software/turn-two">Turn Two: Augmented reality baseball fan experience</a> by James Blackwell, Roman Jaquez, and Bilal Bashir
          <br>
          <a href="http://m.mlb.com/cutfour/2017/03/31/221489550/turn-two-the-baseball-vr-app-won-baseball-hack-days-grand-prize">MLB: The future of baseball technology was on display at the sixth annual Baseball Hack Day</a>
          <br>
          <a href="https://baseballhackday-2017.devpost.com/submissions">See all submissions from 2017 Baseball Hack Day</a>
        </li>
        <li class="mbm">
          <strong>2016 winners:</strong> <a href="https://devpost.com/software/mlb-player-birth-places-over-time">playerplaces</a> by Matthew R., Rob Powell, Ted Lawless, Kathryn Schrumpf; <a href="https://devpost.com/software/baseballhackday">MLB Rivals</a> by Chul Ahn; <a href="https://devpost.com/software/game-recommendation">Game Recommendation</a> by Alex Marcotte; <a href="https://devpost.com/software/watchcuts">WatchCuts</a> by Ellen Shapiro, Dustin Fox, Thomas Martin; and <a href="https://devpost.com/software/baseball-hackday-rabpv0">Third Base Coach</a> by Kevin Leung, Eli Smukler, James Loewen
           <br>
          <a href="http://2016baseballhackday.challengepost.com/submissions">See all submissions from 2016 Baseball Hack Day</a>
        </li>
        <li class="mbm">
          <strong>2015 winner: PITCHe/x</strong> - 3D mini-game where you face off against MLB pitchers by Daniel Shin and Thomas Park <br>
          <a href="http://2015baseballhackday.challengepost.com/submissions">See all submissions from 2015 Baseball Hack Day</a>
        </li>
        <li class="mbm">
          <strong>2014 winners: <a href="http://hackbaseball.azurewebsites.net/">MLB Gameday Mosiac</a></strong> by Brendan Donahue, Bill Wilder, Maura Wiler, Brendon Donahue, and Joan Wortman. And <strong><a href="http://david733.scripts.mit.edu/bballhackday2014/">Need My Baseball Fix</a></strong>  by David Lee.<br>
          <a href="http://baseballhackday.challengepost.com/submissions">See all submissions from Baseball Hack Day 2014</a>
        </li>
        <li class="mbm">
          <strong>2013 winners: </strong> <a href="http://mysterious-lowlands-4395.herokuapp.com/">How did we get here?</a> by Simon Mahler and Ian Malott, and <a href="http://baseball.jameshrisho.com/">Where should i have been born to play MLB</a> by James Hrisho

          <br><a href="https://www.hackerleague.org/hackathons/boston-baseball-hack-day-2013/hacks">See submissions</a> and <a href="/2013/#recap">recap</a> from 2013 Baseball Hack Day</a>
        </li>
        <li class="mbm">
          <strong>2012 winner: <a href="bit.ly/rally-cry">Rally Cry</a></strong> by John Hamilton, Kenji Ross, Mike Paulo, Doug Pfeffer<br><a href="/2012/#recap">See recap of inagural Baseball Hack Day in 2012</a>
        </li>
      </ul>