<div class="select">
  <div class="dropdown-container">
    <div class="dropdown-button">Pick your team</div>
    <div class="dropdown-menu dropdown-select">
      <a href="/boston/">Boston</a>
      <a href="/philly/">Philadelphia</a>
      <a href="/montreal/">Montreal</a>
      <a href="/chicago/">Chicago</a>
      <!-- <a href="/sf/">San Francisco</a> -->
      <!-- <a href="/seattle/">Seattle</a> -->
      <!-- <a href="/portland/">Portland, Oregon</a> -->
      <!-- <a href="/dc/">Washington D.C.</a> -->
      <a href="/minneapolis/">Minneapolis</a>
    </div>
  </div>
</div>