<!-- <div class="select">
  <select class="city-select">
    <option value="/index.html" selected>Pick your team</option>
    <ul class="dropdown-menu dropdown-select">
        <option value="/boston/">Boston</option>
        <option value="/philly/">Philadelphia</option>
        <option value="/montreal/">Montreal</option>
    </ul>

    <option value="/chicago/">Chicago</option>
    <option value="/sanfran/">San Francisco</option>

  </select>
</div> -->

<div class="select">
  <div class="dropdown-container">
    <p class="dropdown-button">Pick your team</p>
    <div class="dropdown-menu dropdown-select">
      <option value="/boston/"><a href="boston.html"></a>Boston</option>
      <option value="/philly/"><a href="philly.html"></a>Philadelphia</option>
      <option value="/montreal/"><a href="montreal.html"></a>Montreal</option>
    </div>
  </div>
</div>