    <ul>
      <li>
        <time datetime='' pubdate=''>09h30 &ndash;10h00</time>
        <h3>Inscription, Rencontre des Candidats et Café</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>10h00 &ndash;10h30</time>
        <h3>Bienvenue, Introductions et Présentations</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>10h30 &ndash;12h30</time>
        <h3>Design & Code</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>12h30 &ndash;13h30</time>
        <h3>Dîner</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>13h30 &ndash;17h30</time>
        <h3>Design &amp; Code</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>17h30 &ndash;18h30</time>
        <h3>Présentation, Évaluation et Remise De Prix</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>17h30 &ndash;18h30</time>
        <h3>Présentation, Évaluation et Remise De Prix</h3>
      </li>
      <li>
        <time datetime='' pubdate=''>18h30</time>
        <h3>Allons prendre une bière</h3>
      </li>

    </ul>