
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlb.png'>
          <h3>MLB</h3>
          <small>Grand Prizes</small>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
      <li>
        <a class='ruwt' href=' https://areyouwatchingthis.com/'>
          <img alt='ruwt logo' src='/images/boston-sponsors/ruwt.png'>
          <h3>RUWT?!</h3>
          <small>API</small>
        </a>
      </li>