---
# Layouts must stay in html
---

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{{ site.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="stylesheet" href="{{ site.baseurl }}{% asset_path application.css %}">

      <script src="//use.typekit.net/uyp2hnr.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="{% if page.body-class %}{{ page.body-class  }}{% endif %}">
    <header class="main">
      <h1>
        <a href="/">
          {% include bbhd-logo.svg %}
        </a>
      </h1>

      <nav>
        <a href="#" class="menu">Menu</a>
        {% include navigation.html %}
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="main">
      <nav>
        {% include navigation.html %}
      </nav>
      <nav>
        <ul>
          <li><a href="http://twitter.com/baseballhackday">Twitter</a></li>
          <li><a href="http://github.com/baseballhackday">GitHub</a></li>
        </ul>
      </nav>
      <section>
        <h3>Organized by</h3>
        <h4>Daigo Fujiwara &amp; Matt Carroll (Boston),
          <br>Kyle Fiedler &amp; Mike Gadsby (Philadelphia),
          <br>Warren Wilansky (Montreal)
        </h4>
      </section>
      <section>
        <h3>Site by</h3>
        <h4>
          <a href="http://thoughtbot.com">thoughtbot</a>
        </h4>
      </section>
    </footer>
  </body>
</html>
