---
layout: default
body-class: about-history
---
<header class='banner'>
  <div class='wrapper'>
    <h2>About &amp; History</h2>
  </div>
</header>
<div class='wrapper'>
  <section class='about'>
    <h2>About the hack day</h2>
    <article>
      {% include about-baseball-hack-day.html %}
      <p>See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out our <a href="http://baseballhackday.tumblr.com/">inspiraton blog on tumblr</a>, and  <a href="">@BaseballHackDay</a>. See our doc on <a href="https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing">sponsors</a> or <a href="https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit?usp=sharing">start your own chapter</a>.</p>
    </article>
  </section>

  <aside>
    <h2>Forum &amp; Resources</h2>
    <p>New to hack days? No need to fear. There'll be people of all skill levels and skill sets participating. What do they make? See submissions from past years: <a href="https://baseballhackday-2017.devpost.com/submissions">2017</a>, <a href="http://2016baseballhackday.challengepost.com/submissions">2016</a>, <a href="http://2015baseballhackday.challengepost.com/submissions">2015</a>, <a href="http://baseballhackday.challengepost.com/submissions">2014</a></p>
    <ul>
      <li>
        <a class='action-primary' href='https://baseballhackday-slack.herokuapp.com'>Join Us on Slack</a>
      </li>
      <li>
        <a class='action-primary' href='https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas'>Resources &amp; Ideas github wiki</a>
      </li>
      <li>
        <a class='action-primary' href='http://baseballhackday.tumblr.com/'>Inspiraton Blog</a>
      </li>
      <li>
        <a class='action-primary' href='https://twitter.com/baseballhackday'>follow us on Twitter</a>
      </li>
      <li>
        <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>Sponsor the event</a>
      </li>
      <li>
        <a class='action-primary' href='https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit?usp=sharing'>Start one in your own city</a>
      </li>
    </ul>
  </aside>
</div>

<div class='wrapper'>

  <section class='about'>
    <h2>Past Winners</h2>
    <article>
      {% include past-winners.html %}
    </article>
  </section>
  <aside>
    <h2>History</h2>
    <article>     
      <p>Baseball Hack Day was orginally born out of a Boston area in 2012 by members of news &amp; geek meetup group <a href="http://meetupbos.hackshackers.com/">Hacks/Hackers</a> and <a href="http://chapters.sabr.org/boston/">Society of American Baseball Research Boston Chapter</a>. Our <a href="/2012/">first event was held at The Boston Globe on March 24, 2012</a> with 35 participants with 9 projects. In 2013, <a href="/2013/">thoughtbot hosted a 31-participants, 10-projects fun and inspiring hack day</a> in March. In 2014, Baseball Hack day <a href="/2014/">expanded into two cities, Boston and Philadelphia</a>. Since then, this annual, grass-roots, volunteer-run and open-sourced project have had events in Boston, Philadelphia, Montreal, Chicago, San Francisco, San Diego and Toronto! <a href="http://m.mlb.com/cutfour/2017/03/31/221489550/turn-two-the-baseball-vr-app-won-baseball-hack-days-grand-prize">MLB cut 4 article, 2017</a>.</p>
      <p>The event is based on the principal of <a href="http://hackdaymanifesto.com/">the Hack Day Manifesto</a>. It will always be free to attend, and we are run by volunteers, and we&rsquo;ll never be for-profit. It's a collective labor of love. If you want to join us in the fun, <a href="https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit?usp=sharing">read this doc</a>, then <a href="https://baseballhackday-slack.herokuapp.com/">join our slack channel</a> and reach out. Can't wait to hear from you!</p>
    </article>
  </aside>

</div>


<div class="wrapper">
  
  <section class='about'>
    {% include mc-signup-boston.html %}
  </section>
  <aside>
    <h2>Baseball Hack Day Logo Assets</h2>
    <p>Feel free to download and use for promotions of your local event. Thanks to <a href="http://kylefiedler.com/">Kyle Fiedler</a> of <a href="https://thoughtbot.com/">thoughtbot</a> for designing us the logo.</p>
    <ul>
      <li><a href="/images/logos/BBHD-green-large.png">Large green png</a></li>
      <li><a href="/images/logos/BBHD-large.png">Large red png</a></li>
      <li><a href="/images/logos/BBHD-green.png">Small green png</a></li>
      <li><a href="/images/logos/bbhd-logo.png">Small red png</a></li>
      <li><a href="/images/logos/baseballhackday.ai">Adobe Illustrator .ai file (1.5MB)</a></li>
      <li><a href="/images/logos/baseballhackday.eps">Illustrator EPS (1.9MB)</a></li>
      <li><a href="/images/logos/baseballhackday.svg">SVG</a></li>
    </ul>
  </aside>

</div>