---
layout: default
body-class: toronto city-show
title: 2018 Toronto Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans. 
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
    <div class='wrapper'>
      <h2>Toronto</h2>
      <p class='time-location'>
        <span class='time'>Saturday, March 17th 2018, 9:30am – 6:30pm</span>
        <span class='location'>Meld Coworking Space<br>156 Front Street W. Toronto, 2nd Floor</br>Toronto, ON, M5J 2L7</span>
      </p>
      <a class='action' href='https://www.eventbrite.ca/e/toronto-baseball-hack-day-hackathon-2018-tickets-43210629155'>Register!</a>
    </div>
  </header>
  <div class='wrapper'>
    <section class='schedule'>
      <h2>Schedule</h2>
      {% include schedule.html %}
    </section>


    <section class='sponsors'>
        <header>
          <h2>Sponsors</h2>
          <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
            Be a Sponsor
          </a>
        </header>
        <ul class='sponsor-list'>
          <li>
            <a class='mlbam' href='http://mlbam.com'>
              <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
              <h3>MLB Advanced Media</h3>
              <small>Prizes</small>
            </a>
          </li>
          <li> 
            <a target="_blank" class="think-research" href="http://www.thinkresearch.com/ca/"> 
              <img alt='Think Research Logo' src="/images/toronto-sponsors/think-research-logo.png">
              <h3>Think Research</h3>
              <small>Community Sponsor</small>  
            </a>
          </li>
          <li> 
            <!-- <a target="_blank" class="meld-space" href="#">  -->
              <img alt='Meld Coworking Space' src="/images/toronto-sponsors/meld_logo.png">
              <!-- <h3>Meld</h3> -->
              <small>Venue Sponsor</small>  
            <!-- </a> -->
          </li>

          <li>
            <a class='talent-accurate' href='http://beta.talentaccurate.com/'>
              <img alt='Talent Accurate Logo' src='/images/toronto-sponsors/talent-accurate-logo.png'>
              <h3>Talent Accurate</h3>
              <small>All-Star Sponsor</small>
            </a>
          </li>

          <li>
            <a class='pitch-talks' href='http://www.homestandsports.com/showslist/2016/4/30/pitch-talks-toronto'>
              <img alt='Pitch Talks Logo' src='/images/toronto-sponsors/pitch-talks-logo.jpg'>
              <h3>Pitch Talks</h3>
              <small>Prizes</small>
            </a>
          </li>

          <li>
            <a class='sportley' href='https://sportley.ca/'>
              <img alt='Sportley Logo' src='/images/toronto-sponsors/sportley-logo.png'>
              <h3>Sportley</h3>
              <small>Prize</small>
            </a>
          </li>


          <!-- In case baseball prospectus and sportradar become a sponsor--> 
          <li>
            <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
              <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
              <h3>Baseball Prospectus</h3>
              <small>Prizes</small>
            </a>
          </li>
          <li>
            <a class='sportradar' href='http://www.sportradar.com/'>
              <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
              <h3>SportRadar</h3>
              <small>API</small>
            </a>
          </li>
          <!-- <li> 
            <a target="_blank" class="toronto-blue-jays" href="https://www.mlb.com/bluejays"> 
              <img alt='Toronto Logo' src="/images/toronto-sponsors/blue-jays-logo.png">
              <h3>Toronto Blue Jays</h3>
              <small>Judges</small>  
            </a>f
          </li> -->
        </ul>
      </section>



  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>Toronto Overall Winner</h3>
        <p>
          Winning teams of the Toronto competition have the option to choose from one of these prizes
          <ul>
            <li><a href='http://www.mlb.tv/'>* 4 annual MLB.TV Premium subscription</a></li> 
            <li><a href='http://www.homestandsports.com/showslist/2016/4/30/pitch-talks-toronto'>* 4 tickets to PitchTalks for their upcoming April 5th event with Mark Shapiro</a></li> 
            <li><a href='http://www.baseballprospectus.com'>* 4 premium subscriptions to Baseball Prospectus</a></li>
          </ul> 
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li> 
        <a href="baseball.hackday.toronto@gmail.com">(Want to sponsor a prize? Email us.)</a>
      </li>
    </ul>
  </section>



  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li> 
        <h3>Spencer Estey</h3>
        <p>Baseball Systems Developer - ‎Toronto Blue Jays</p>
      </li>
      <li> 
        <h3>Peter Saunders</h3>
        <p>Data Architect - ‎Toronto Blue Jays</p>
      </li>
      <li>
        <h3>Alfred Wong</h3>
        <p>VP Engineering - Think Research</p>
        <p>And More!</p>
      </li> 
    </ul>
  </section>

  <section class="guidelines"> 
    <h2>Join us for baseball and code!</h2>
    <article>
      <p> Combine your love of code, design, big data, and baseball at the FIRST annual Baseball Hackday in Toronto! This special one day The event will take place on March 17th, 2018 at the Think Research building and we will be hacking along with teams in Boston, Montreal, Chicago, and San Diego. We will all participate in the development of baseball-related projects and experiments to see if can make something awesome with technology. By participating, you will be part of a group that joins technology with sports and our hope is to bring technology and sports communities together. </p>

      <p>Using your creativity along with baseball, you can make, a web app, a mobile app, a web site, or data visualization. <b>The majority of your coding must happen during the event. Some work done prior to the event is allowed, but it should be disclosed at your demo. Prototypes/mockups for demo are OK, but working websites or mobile apps are strongly encouraged.</b> And afterwards, you'll get the opportunity to show your stuff to judges from the Blue Jays organization (and more)! </p>

      <p>Designers, developers, statisticians, big data enthusiasts, and baseball fans are welcome to participate! We are looking for sponsors to help offset the costs of hosting our event and judges to evaluate the projects and then present the winning team with a grand prize. There is no cost to attend and participate in the event but there are limited spots so book early.</p>

      <p>There will be breakfast, lunch, and snacks throughout the day. The day will end with an award ceremony for the winning projects. </p>

      <p>New to hack days? Have no fear. <a target="_blank" href="https://baseballhackday-2017.devpost.com/">See last year’s
        submissions</a>, check our resources in <a target="_blank"
                                                   href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github
        wiki</a>, check out our <a target="_blank" href="http://baseballhackday.tumblr.com/">inspiration blog on tumblr</a>, and follow us on
        Twitter <a target="_blank" href="https://twitter.com/416_bb_hackday">@416_bb_hackday</a>.</p>
    </article> 
  </section>

  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
        {% include slack-signup.html %}

      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  <section class="email-signup">
    {% include mc-signup.html %}
</section>
</div>
