---
layout: default
body-class: city-show
title: '2020 Baseball Hack Day Sat. March 21'
description: Friendly one-day multi-city coding competition for baseball fans - Baseball Hack Day Sat. March 21, 2020 - San Diego
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---
{% assign city_name = "San Diego" %}
{% assign registration_url = "" %}
{% assign venue_name = "" %}
{% assign venue_address = "" %}
{% assign hack_date_full = "March 21st 2020" %}
{% assign hack_date_short = "March 21st" %}

<header class="{{ city_name | downcase }} city-show"> 
  <header class="banner">
    <div class="wrapper">
      <h2>{{ city_name }}</h2>
      <p class="time-location">
        <span class="time">Saturday, March 21, 2020, 9:00 am – 6 pm (PST)</span>
        <span class="location">{{ venue_name }}, {{ venue_address }}</span>
      </p>
      <a class="action" href="https://baseball-hack-day-2019.devpost.com/submissions">See 2019 submissions and winners</a>
      {% if registration_url != "" %}
      <!-- <a class="action" href="{{ registration_url }}">Register!</a> -->
      {% endif %}
    </div>
  </header>
</header>

<div class="wrapper">
  <section class="schedule">
    <h2>Schedule</h2>
    <ul>
    <li>
      <time datetime=" pubdate=">8:00 &ndash; 10:00am </time>
      <h3>Registration, Meet and Greet</h3>
    </li>
    <li>
      <time datetime=" pubdate=">10:00 &ndash; 10:30am </time>
      <h3>Welcome, Introductions, and Pitch</h3>
    </li>
    <li>
      <time datetime=" pubdate=">10:30 &ndash; 12:30pm </time>
      <h3>Design and Code</h3>
    </li>
    <li>
      <time datetime=" pubdate=">12:30 &ndash; 1:30pm</time>
      <h3>Lunch</h3>
    </li>
    <li>
      <time datetime=" pubdate=">1:30 &ndash; 5:00pm </time>
      <h3>More Design and Code</h3>
    </li>
    <li>
      <time datetime=" pubdate=">5:00 &ndash; 6:00pm </time>
      <h3>Presentation</h3>
    </li>
    <li>
      <time datetime=" pubdate=">6:00pm</time>
      <h3>Awards announcements</h3>
    </li>
    </ul>
  </section>

  <section class="sponsors">
    <header>
      <h2>Sponsors</h2>
    </header>
    <ul class="sponsor-list">
      <li>
        <a class="intuit" href="https://www.intuit.com/">
          <img alt="intuit Logo" src="../images/sandiego-sponsors/intuit.png">
          <h3>Intuit</h3>
          <small>Host</small>
        </a>
      </li>

      {% include shared-sponsors.html %}
      <li>
        <a class="nsbe" href="https://www.nsbe.org/home.aspx">
          <img alt="nsbe Logo" src="../images/sandiego-sponsors/nsbe.png">
          <h3>National Society of Black Engineers</h3>
          <small>Community Partner</small>
        </a>
      </li>
      <li>
        <a class="bit" href="https://www.blacksintechnology.net/">
          <img alt="bit Logo" src="../images/sandiego-sponsors/bit.png">
          <h3>Blacks in Technology</h3>
          <small>Community Partner</small>
        </a>
      </li>

    </ul>
    <a class="action-primary" href="https://docs.google.com/document/d/1lA_9jqN2oqfVSRw3RnjVvqJ8Ik1Khvy6q4MVj15tCpc/edit?usp=sharing">
      Be a Sponsor
    </a>
  </section>


  <section class="prizes">
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>{{ city_name }} Overall Winners</h3>
        <p>
          The winning team of the {{ city_name }} competition will win
          <!-- edit prizes -->
          TBD!
          for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          {% include grand-prize.html %}
        </p>
      </li>
      <li>
        <h3>{{ city_name }} Runner-Ups</h3>
        <p>
          The runner-up team of the {{ city_name }} competition will win
          <!-- edit prizes -->
          TBD!
          for each team member (maximum team size of four).
        </p>
      </li>
      <!-- add more prizes -->
      <li>
        <p>
          and more!
          <a href="mailto:daigo@baseballhackday.com">(Want to sponsor? Please email us.)</a>
        </p>
      </li>
    </ul>

  </section>
  <section class="judges">
    <h2>Judges</h2>
    <ul>
      <li><h3>TBA</h3></li>
      <!-- <li>
        <img src="images/johnson.jpg" class="judges-photo" alt="">
        <h3>Greg Johnson</h3>
        <p>
          Executive Vice President & GM , Intuit Consumer Group
        </p>
      </li>
      <li>
        <img src="images/giuffrida.jpg" class="judges-photo" alt="">
        <h3>Luisa Giuffrida</h3>
        <p>
          Software Development Manager, Amazon
        </p>
      </li>
      <li>
        <img src="images/roberts.jpg" class="judges-photo" alt="">
        <h3>Michael Roberts</h3>
        <p>
          Founder, SD Code School
        </p>
      </li>
      <li>
        <img src="images/catalano.jpg" class="judges-photo" alt="">
        <h3>Renne Catalano</h3>
        <p>
          Business Development Manager, SD Sports Innovators Accelerator
        </p>
      </li> -->

    </ul>
  </section>


  <section class="guidelines">
    <h2>Come join us, March 21!</h2>
    <article>
      <p>Love creating stuff on your computer and LOVE baseball? Come hack with us on March 21, 2020 at {{ venue_name }}</p>

      {% include about-baseball-hack-day.html %}

      <p>New to hack days? Have no fear. This is a hackathon of developers and designers of all levels. See past submissions to get an idea. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiraton blog on tumblr</a>, <a href="https://baseballhackday-slack.herokuapp.com/">join us on our Slack chat</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a></p>

      <p>
        {% if registration_url != "" %}
        <a class="action" href="{{ registration_url }}">Register!</a>
        {% endif %}
      </p>
    </article>
  </section>


  <section class="guidelines">
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  
  {% include slack-signup.html %}
</div>
