---
layout: default
body-class: twin-cities city-show
title: 2018 Twin Cities Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans. 
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---
<!-- change the header image and color by creating a new body class in /scss/_city-show.scss -->
<!-- schedule and rules are in "include" folder. If you want to create your own, just copy and paste the code on this page --> 

<header class='banner'>
  <div class='wrapper'>
    <h2>Twin Cities</h2>
    <p class='time-location'>
      <span class='time'>TBA</span>
      <span class='location'>The Pitch 807 Broadway St NE, Suite 310 Minneapolis, MN 55413</span>
    </p>
    <!-- <a class='action' href='https://www.eventbrite.com/e/2018-twin-cities-baseball-hack-day-tickets-32407684256'>Register!</a> -->
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>


  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='the-pitch' href='http://the-pitch.com'>
          <img alt='the-pitch Logo' src='/images/twin-cities-sponsors/the-pitch.png'>
          <h3>The Pitch</h3>
          <small>Venue</small>
        </a>
      </li>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API, Prizes</small>
        </a>
      </li>
      <li>
          <h3>.. and more!</h3>
      </li>
    </ul>
  </section>



  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <!-- <li>
        <h3>Twin Cities Overall Winner</h3>
        <p>
          Winning team of the Twin Cities competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four)
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
            <li>
        <h3>
          Best Use of
          <a href='https://developer.sportradar.com/'>SportRadar API</a>
        </h3>
        <p>
           The project across all cities that makes the best use of SportRadar API wins a 2016 season (6-month) Real Time MLB key.
        </p>
      </li>
      <li>
        <h3>Twin Cities Runner-Ups</h3>
        <p>
          The runner-up team of the Twin Cities competition will win
          <a href=' http://www.baseballprospectus.com/subscriptions/'>an annual Baseball Prospectus Super Premium subscription</a> for each team member (maximum team size of four).
        </p>
      </li>--><li>... and more!</li>
    </ul>
  </section>



  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <!-- <li>
        <h3>George Herman Ruth, Jr.</h3>
        <p>
          American professional baseball player
        </p>
      </li> -->
      <li>
        <h3></h3>
        <p>TBA
        </p>
      </li> 
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Come join us!</h2>
    <article>
      <p>Love creating stuff on your computer and LOVE baseball? Come hack with us <!-- on March 25 at <a href="http://www.the-pitch.com/#welcome">The Pitch</a>, <a href="https://www.google.com/maps/place/807+Broadway+St+NE,+Minneapolis,+MN+55413/@44.9995764,-93.252753,17z/data=!4m5!3m4!1s0x52b32d9a66ed4925:0x977e07cec01d3d59!8m2!3d44.9995764!4d-93.2505643">807 Broadway Street Northeast Suite 310 Minneapolis, MN 55413</a>-->!</p>

      {% include about-baseball-hack-day.html %}


      <p>New to hack days? Have no fear. See  to get an idea. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiraton blog on tumblr</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a></p>

      <!-- <p>
        <a class='action-primary' href='https://www.eventbrite.com/e/2018-twin-cities-baseball-hack-day-tickets-32407684256'>
          Register now
        </a>
      </p> -->
    </article>
  </section>

  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>
  
  {% include slack-signup.html %}
</div>
