/**
 * Custom styles for the Philly city page.
 */
.top-row {
  background-image: url(../img/philly-bg.jpg);
}

.ticketleap {
  margin-top: 4em;
}

.oreilly {
  clear: both;
  margin-top: 7em;
}

.sportsdata {
  margin-top: 7em;
}
