.wrapper {
  @include outer-container;
  padding: 0 2em;
}

.banner {
  background-blend-mode: multiply;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15vh;
  padding-top: 25vh;
  margin-bottom: $large-spacing;

  h2 {
    color: #fff;

    &::after {
      background-color: shade($tan, 80);
    }
  }

  p {
    @include secondary-header;
    padding: 1em 0;
  }

  span {
    display: block;
  }
}
