---
layout: default
body-class: boston city-show
title: 2016 Boston Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans. 
keyword: boston, red sox
url : http://baseballhackday.com/boston
email : daigo@baseballhackday.com
twitter : baseballhackday
---
<header class='banner'>
  <div class='wrapper'>
    <h2>Boston</h2>
    <p class='time-location'>
      <span class='time'>March 19th 2016, 9:30am – 6pm</span>
      <span class='location'>General Assembly Boston, 51 Melcher Street Boston, MA 02210</span>
    </p>
    <a class='action' href='http://www.eventbrite.com/e/2016-boston-baseball-hack-day-tickets-21690205990?aff=bbhdheader'>Register!</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>

  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='generalassembly' href='https://generalassemb.ly/'>
          <img alt='generalassembly Logo' src='/images/boston-sponsors/generalassembly.png'>
          <h3>General Assembly</h3>
          <small>Venue</small>
        </a>
      </li>
      <li>
        <a class='actbluetech' href='http://actbluetech.com'>
          <img alt='actbluetech Logo' src='/images/boston-sponsors/actbluetech.png'>
          <h3>Act Blue Technical Service</h3>
          <small>Hall of Fame Sponsor</small>
        </a>
      </li>
      <li>
        <a class='sabrboston' href='http://chapters.sabr.org/boston/'>
          <img alt='sabrboston Logo' src='/images/boston-sponsors/sabrboston.png'>
          <h3>SABR Boston</h3>
          <small>Community Sponsor</small>
        </a>
      </li>
      <li>
        <a class='sportsdata' href='http://www.sportsdatallc.com/'>
          <img alt='sportsdata Logo' src='/images/boston-sponsors/sportsdata.png'>
          <h3>Sports Data, LLC</h3>
          <small>API, Prizes</small>
        </a>
      </li>
      <a class='action-primary' href='https://docs.google.com/document/d/1N1UtvOCPPPdMF-Y7zvwGZOL5cObL9a2Z0ouOUB5JCTA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </ul>
  </section>


  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>Boston Overall Winner</h3>
        <p>
          Winning team of the Boston competition will win
          <a href='http://www.mlb.tv/'>an annual MLB.TV Premium subscription</a>
          for each team member (maximum team size of four)
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li>
        <h3>
          Best Use of
          <a href='http://developer.sportsdatallc.com/docs/MLB_API'>Sports Data API</a>
        </h3>
        <p>
          2016 season (6-month) Real Time MLB key 
        </p>
      </li>
      
      <li>
        <p>
          and more!
          <a href='mailto:daigo@baseballhackday.com'>(Want to sponsor a prize? Email us.)</a>
        </p>
      </li>
    </ul>
  </section>
  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>
        <h3>George Herman Ruth, Jr.</h3>
        <p>
          American professional baseball player
        </p>
      </li>
      <li>
        <h3>And more</h3>
        <p>
        </p>
      </li>      
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Come join us, March 19!</h2>
    <article>
      <p>Love creating stuff on your computer and LOVE baseball? Come hack with us on March 19 at General Assembly Boston, <a href="https://www.google.com/maps/place/51+Melcher+St,+Boston,+MA+02210/data=!4m2!3m1!1s0x89e37a7fd91a79e3:0xcd8cefbf58725cf?sa=X&ved=0ahUKEwjX-K6F44fLAhWFpB4KHfs7BK4Q8gEIIzAB">51 Melcher Street Boston, MA 02210</a>!</p>

      <p>The fourth annual Baseball Hack Day is a fun, friendly one-day hacking competition (also known as hackathon, hackfest or codefest) for baseball fans.</p>

      <p>It is the day where area baseball minds come together and see what cool projects can be created within a limited time. The project could be (but is not limited to) a tool, app, website, or data visualization. Baseball Hack Day is a free event thanks to our generous sponsors. The event is based on the principal of <a href="http://hackdaymanifesto.com/">the Hack Day Manifesto</a>.</p>

      <p>New to hack days? Have no fear. See  to get an idea. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiraton blog on tumblr</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a></p>

      <p>
        <a class='action-primary' href='http://www.eventbrite.com/e/2016-boston-baseball-hack-day-tickets-21690205990?aff=bbhdbody'>
          Register now
        </a>
      </p>
    </article>
  </section>


  <section class='guidelines'>
    <h2>Three Tracks in Boston</h2>
    <article>
      <p>To encourage participation of developers and designers of all levels, there will be <strong>three tracks</strong>:</p>
      <ul>
        <li>First, <strong>"hacking track"</strong> is our usual, typical Baseball Hack Day track. You come with project and recruit people, or come and find a project to join and work on it for the day.</li>
        <li>Second one is a <strong>"project track"</strong>, where we have project/challenge ready to be worked on. There will be a "project manager" or "leader" type person to lead the team(s) to solve the challenge.</li>
        <li>Third one is a <strong>learning track</strong>, which is mostly designed for first-time hackathon attendees. This is where you can learn how to hack from Baseball Hack Day's mentor volunteers. Less like competition and more like a workshop.</li>
      </ul>
    </article>
  </section>

  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  <section class='email-signup'>
    {% include mc-signup.html %}
  </section>
</div>
