---
layout: default
body-class: city-show
title: '2020 Boston Baseball Hack Day Sat. March 21'
description: Friendly one-day multi-city coding competition for baseball fans - Baseball Hack Day Sat. March 21, 2020 - Boston
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2020.png
---
{% assign city_name = "Boston" %}
{% assign registration_url = "https://www.eventbrite.com/e/2020-boston-baseball-hack-day-tickets-94250117639" %}
{% assign venue_name = "DraftKings HQ" %}
{% assign venue_address = "222 Berkeley Street, Boston, MA 02116" %}
{% assign hack_date_full = "March 21st 2020" %}
{% assign hack_date_short = "March 21st" %}

<header class="{{ city_name | downcase }}"> 
  <header class="banner">
    <div class="wrapper">
      <h2>{{ city_name }}</h2>
      <p class="time-location">
        <span class="time">Saturday, March 21, 2020, 9:00 am – 6 pm (EST)</span>
        <span class="location">{{ venue_name }}, {{ venue_address }}</span>
      </p>
      {% if registration_url != "" %}
        <a class="action" href="{{ registration_url }}">Register!</a>
      {% endif %}
    </div>
  </header>
</header>

<div class="wrapper">
  <section class="schedule">
    <h2>Schedule</h2>
    <ul>
    <li>
      <time datetime=" pubdate=">9:00 &ndash; 9:30am </time>
      <h3>Registration, Meet and Greet, and Coffee</h3>
    </li>
    <li>
      <time datetime=" pubdate=">9:30 &ndash; 10:00am </time>
      <h3>Welcome, Introductions, and Pitch</h3>
    </li>
    <li>
      <time datetime=" pubdate=">10:00 &ndash; 12:30pm </time>
      <h3>Design and Code</h3>
    </li>
    <li>
      <time datetime=" pubdate=">12:30 &ndash; 1:30pm</time>
      <h3>Lunch</h3>
    </li>
    <li>
      <time datetime=" pubdate=">1:30 &ndash; 4:00pm </time>
      <h3>More Design and Code</h3>
    </li>
    <li>
      <time datetime=" pubdate=">4:00 &ndash; 5:00pm </time>
      <h3>Presentation</h3>
    </li>
    <li>
      <time datetime=" pubdate=">5:00pm</time>
      <h3>Awards announcements</h3>
    </li>
  </ul>
  </section>

  <section class="sponsors">
    <header>
      <h2>Sponsors</h2>
    </header>
    <ul class="sponsor-list">
      <!-- <li>
        <a class="example-sponsor" href="#SponsorURL">
          <img alt="example-sponsor Logo" src="http://placehold.jp/600x300.png">
          <h3>Example Sponsor</h3>
          <small>Hall of Fame, MVP or All-Star sponsor</small>
        </a>
      </li> -->
      <li>
        <a class="draftkings" href="http://draftkings.com">
          <img alt="draftkings Logo" src="/images/boston-sponsors/DraftKings_FC.png">
          <h3>DraftKings</h3>
          <small>Hall Of Fame PLUS Sponsor, Venue</small>
        </a>
      </li>
      <!-- <li>
        <a class="rstudio" href="https://www.rstudio.com/">
          <img alt="rstudio Logo" src="images/rstudio.png ">
          <h3>R Studio</h3>
          <small>All Star Sponsor</small>
        </a>
      </li>
      <li>
        <a class='realplay' href='https://www.realplay.us'>
          <img alt='realplay Logo' src='/images/boston-sponsors/realplay.svg'>
          <h3>Realplay</h3>
          <small>All-Star Sponsor</small>
        </a>
      </li> -->
      {% include shared-sponsors.html %}
      <!-- 
      <li>
        <a class='oreilly' href='https://www.oreilly.com/'>
          <img alt='oreilly logo' src='/images/boston-sponsors/oreilly.png'>
          <h3>O’Reilly</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class="redsox" href="https://www.mlb.com/redsox">
          <img alt="redsox Logo" src="images/redsox.png ">
          <h3>Boston Red Sox</h3>
          <small>Prizes</small>
        </a>
      </li> -->
    </ul>
    <a class="action-primary" href="https://docs.google.com/document/d/1lA_9jqN2oqfVSRw3RnjVvqJ8Ik1Khvy6q4MVj15tCpc/edit?usp=sharing">
      Be a Sponsor
    </a>
  </section>


  <section class="prizes">
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>{{ city_name }} Overall Winners</h3>
        <p>
          The winning team of the {{ city_name }} competition will win
          <!-- edit prizes -->
          TBA!
          for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          {% include grand-prize.html %}
        </p>
      </li>
      <li>
        <h3>{{ city_name }} Runner-Ups</h3>
        <p>
          The runner-up team of the {{ city_name }} competition will win
          <!-- edit prizes -->
          TBA!
          for each team member (maximum team size of four).
        </p>
      </li>
      <!-- add more prizes -->
      <li>
        <p>
          and more!
          <a href="mailto:daigo@baseballhackday.com">(Want to sponsor? Please email us.)</a>
        </p>
      </li>
    </ul>

  </section>
  <section class="judges">
    <h2>Judges</h2>
    <ul>
      <li><h3>TBA</h3></li>
<!--      <li>
        <h3>Bob Reece</h3>
        <p>
         Senior Production Manager, DraftKings
        </p>
      </li>
      <li>
        <h3>David Thyresson</h3>
        <p>
          CTO, Sports Innovation Lab<br>
Co-founder, stattleship
        </p>
      </li>
      <li>
        <h3>Justin Real</h3>
        <p>
          Founder/CEO, Realplay Sports
        </p>
      </li> -->
    </ul>
  </section>


  <section class="guidelines">
    <h2>Come join us, March 21!</h2>
    <article>
      <p>Love creating stuff on your computer and LOVE baseball? Come hack with us on March 21, 2020 at {{ venue_name }}</p>

      {% include about-baseball-hack-day.html %}

      <p>New to hack days? Have no fear. This is a hackathon of developers and designers of all levels. See past submissions to get an idea. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out <a href="http://baseballhackday.tumblr.com/">our inspiraton blog on tumblr</a>, <a href="https://baseballhackday-slack.herokuapp.com/">join us on our Slack chat</a>, and follow us on <a href="http://twitter.com/baseballhackday">Twitter @BaseballHackDay</a></p>

      <p>
        {% if registration_url != "" %}
        <a class="action" href="{{ registration_url }}">Register!</a>
        {% endif %}
      </p>
    </article>
  </section>


  <section class="guidelines">
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  <section class="email-signup">
    {% include mc-signup-boston.html %}
  </section>
  
  {% include slack-signup.html %}
</div>
