fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}


/*
 * WTF Select https://github.com/mdo/wtf-forms/blob/master/wtf-forms.css
 */

.select {
  position: relative;
  display: inline-block;
  color: #555;

  select {
    font-family: $sub-header-font-family;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    padding: .5rem 2.25rem .5rem 1rem;
    color: $light-tan;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid $light-tan;
    border-radius: .0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  /* Undo the Firefox inner focus ring */
  select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  option {
    background-color: rgba(0,0,0,0.5);
  }
}

/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  margin-top: -.15rem;
  content: "";
  width: 0;
  height: 0;
  pointer-events: none;
  border-top: .35rem solid $light-tan;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}
