---
layout: default
body-class: montreal city-show
title: 2018 Montreal Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2018.png
---
<header class="banner">
    <div class="wrapper">
        <div>
            <h2 class="mtl-h2">Montréal</h2>
            <a class="language-btn" href="index.html">English version</a>
        </div>
        <p class="time-location">
            <span class="time">Samedi le 17 mars 2018, 9h00 - 18h30</span>
            <span class="location"><!-- Belgo Building Breather Space,<br>372 Rue Sainte Catherine Ouest, Suite 105,<br>Montréal QC, H3B 1A2 --></span>
        </p>
        <a class="action" href="https://mtlbbhd2018.eventbrite.com">S'enregistrer!</a>
    </div>
</header>
<div class="wrapper">
    <section class="schedule">
        <h2>Horaire</h2>
        {% include mtl-schedule-fr.html %}
    </section>

    <section class="sponsors">
        <header>
            <h2>Commanditaires</h2>
        </header>
        <ul class="sponsor-list">
            <li>
                <a class="mlbam" target="_blank" href="http://mlbam.com">
                    <img alt="mlbam Logo" src="/images/boston-sponsors/mlbam.png">
                    <h3>MLB Advanced Media</h3>
                    <small>Prix</small>
                </a>
            </li>
            <li>
                <a target="_blank" class="plank" href="http://plankdesign.com">
                    <img alt="Plank Logo" src="/images/montreal-sponsors/plank.png">
                    <h3>Plank</h3>
                    <small>Commanditaire communautaire</small>
                </a>
            </li>
            <li>
                <a class="baseball-prospectus" href="http://www.baseballprospectus.com">
                    <img alt="baseball-prospectus Logo" src="/images/montreal-sponsors/baseball-prospectus.png">
                    <h3>Baseball Prospectus</h3>
                    <small>Prix</small>
                </a>
            </li>
            <li>
                <a class="sportradar" href="http://www.sportradar.com/">
                    <img alt="sportradar logo" src="/images/montreal-sponsors/sportradar.png">
                    <h3>Sportradar</h3>
                    <small>Prix</small>
                </a>
            </li>
            <a class="action-primary" target="_blank"
               href="https://docs.google.com/document/d/121GnT7TPqpixyo4GsJvP1w3igF19VqXlNyjHDiD-0ek/edit?usp=sharing">
                Devenez commanditaires
            </a>
        </ul>
    </section>

    <section class="prizes">
        <h2>Prix</h2>
        <ul>
            <li>
                <h3>Vainqueur global de Montréal (Premier prix)</h3>
                <p>Un abonnement Premium à <a href="http://mlb.mlb.com/mlb/subscriptions/index.jsp?&affiliateId=MLBTVREDIRECT"
                                              target="_blank">MLB.TV</a> pour chaque membre de l’équipe (maximum de 4 membres).</p>
            </li>
            <li>
                <h3>Vainqueur du Grand Prix du Hack Day</h3>
                <p>En plus, le meilleur des équipes gagnantes des villes participantes recevra également des prix supplémentaires.</p>
            </li>
            <li>
                (Vous voulez sponsoriser un prix ? <a href="mailto:erin@plankdesign.com">Envoyez-nous un courriel</a>.)
            </li>
        </ul>
    </section>
    <section class="judges">
        <h2>Les Juges</h2>
        <ul>
            <li>
                <h3><a href="http://www.cbc.ca/mediacentre/bio/sonali-karnick">Sonali Karnick</a></h3>
                <p>
                    CBC Radio One
                </p>
            </li>
            <li>
                <h3><a href="http://exposnation.com/en/">David Foscato</a></h3>
                <p>
                    ExposNation
                </p>
            </li>
            <li>
                <h3><a href="https://www.concordia.ca/artsci/english/faculty.html?fpid=david-mcgimpsey">David McGimpsey</a></h3>
                <p>
                    Auteur et poète
                </p>
            </li>
        </ul>
    </section>
    <section class="guidelines">
        <h2>Rejoignez-nous!</h2>
        <article>
            <p>Nous sommes fiers d’annoncer l’arrivée du quatrième rendez-vous annuel du Baseball Hack Day à Montréal le 17 mars 2018. Il sera tenu à
                l’espace Breather dans l’édifice Belgo, et rejoindra ainsi quatre autres villes dans l’initiative d’organisation de cette journée
                événementielle. Le but est d’encourager le développement des partenariats, expériences et projets reliés au Baseball pour créer de
                meilleurs liens entre le milieu de la technologie et les communautés sportives. Le Baseball Hack Day aura également lieu à Boston,
                Chicago, San Diego, et Washington, DC.</p>

            <p>Le Baseball Hack Day vise à rassembler les esprits créatifs entre quatre murs et voir ce dont ils sont capables dans un temps limité.
                Le projet peut être (mais n’est pas limité à), un outil, une application web ou mobile, un site web, ou une représentation graphique.
                Avec une historique qui s’étend aux 150 dernières années, il n’existe pas de meilleur sport pour venir mettre au défi le développement
                de projets web uniques, tant dans le design que d’aspect technique.</p>

            <p>Les graphistes, développeurs, statisticiens, et amateurs de baseball seront tous les bienvenus à participer à cet événement. Nous
                recherchons aussi des commanditaires et un jury pour évaluer les projets. La participation est gratuite mais les places sont limitées,
                nous vous encourageons donc à vous inscrire rapidement.</p>

            <p>La journée comprendra un petit déjeuner, un dîner, ainsi que des breuvages et collations. Elle se terminera par une cérémonie de remise
                de prix pour le meilleur projet.</p>

            <p>Inspirez-vous et <a target="_blank" href="https://baseballhackday-2017.devpost.com/">cliquez ici pour accéder à liste des
                projets des lauréats de 2017</a>. Vous pouvez accéder plusieurs ressources supplémentaires sur nos pages <a target="_blank"
                                                                                                                            href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github</a>
                et <a target="_blank" href="http://baseballhackday.tumblr.com/">tumblr</a>. Et, bien sur, nous suivre sur Twitter <a target="_blank"
                                                                                                                                     href="https://twitter.com/mtlbbhackday">@mtlbbhackday</a>.
            </p>

            <!--       <a class='action-primary' href='http://montrealbaseballhackday.eventbrite.com'>
                    S'enregistrer
                  </a> -->
        </article>
    </section>

    <!--
      <section class='guidelines'>
        <h2>Three Tracks in Montreal</h2>
        <article>
          <p>To encourage participation of developers and designers of all levels, there will be <strong>three tracks</strong>:</p>
          <ul>
            <li>First, <strong>"hacking track"</strong> is our usual, typical Baseball Hack Day track. You come with project and recruit people, or come and find a project to join and work on it for the day.</li>
            <li>Second one is a <strong>"project track"</strong>, where we have project/challenge ready to be worked on. There will be a "project manager" or "leader" type person to lead the team(s) to solve the challenge.</li>
            <li>Third one is a <strong>learning track</strong>, which is mostly designed for first-time hackathon attendees. This is where you can learn how to hack from Baseball Hack Day's mentor volunteers. Less like competition and more like a workshop.</li>
          </ul>
        </article>
      </section>
     -->
    <section class="guidelines">
        <h2>Règles et directives</h2>
        {% include rule-fr.html %}
        <article>
            <!-- <p>Put additional local rules here</p> -->
        </article>
    </section>

    <section class="email-signup">
        {% include mc-signup-fr.html %}
    </section>

    {% include slack-signup-fr.html %}
</div>
