---
layout: default
body-class: montreal city-show
title: 2017 Montreal Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2016.png
---
<header class='banner'>
  <div class='wrapper'>
    <div>
      <h2 class='mtl-h2'>Montréal</h2>
      <a class='language-btn' href='index.html'>English version</a>
    </div>
    <p class='time-location'>
      <span class='time'>Samedi le 25 mars 2017, 9h00 - 18h00</span>
      <span class='location'>Belgo Building Breather Space,<br>372 Rue Sainte Catherine Ouest, Suite 105,<br>Montréal QC, H3B 1A2</span>
    </p>
    <a class='action' href='https://mtlbbhd2017.eventbrite.com'>S'enregistrer</a>
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Horaire</h2>
    {% include schedule-fr.html %}
  </section>

  <section class='sponsors'>
    <header>
      <h2>Commanditaires</h2>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='mlbam' target="_blank" href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prix</small>
        </a>
      </li>
      <li>
        <a target="_blank" class='plank' href='http://plankdesign.com'>
          <img alt='Plank Logo' src='/images/montreal-sponsors/plank.png'>
          <h3>Plank</h3>
          <small>Commanditaire communautaire</small>
        </a>
      </li>
<!--       <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prix</small>
        </a>
      </li>
      -->
      <li>
        <a class='evenko' href='http://www.evenko.ca/'>
          <img alt='evenko logo' src='/images/montreal-sponsors/evenko.jpg'>
          <h3>evenko</h3>
          <small>Promoteur d'évènements</small>
        </a>
      </li> 
      <a class='action-primary' target="_blank" href='https://docs.google.com/document/d/1807dtDcPWOwXBolu_dSPynEjoyp1yYR_Zzw3gCyArFA/edit?usp=sharing'>
        Devenez commanditaires
      </a>
    </ul>
  </section>

  <section class='prizes'>
    <h2>Prix</h2>
    <ul>
      <li>
        <h3>À venir</h3>
        (Vous voulez sponsoriser un prix ? <a href="mailto:mtlbbhd@plankdesign.com">Envoyez-nous un courriel</a>.)
      </li>
      <!-- 
      <li>
        <h3>Vainqueur global de Montréal (Premier prix)</h3>
        <p>
          Un abonnement Premium à <a href='http://www.mlb.tv/'>MLB.TV</a> pour chaque membre de l’équipe (maximum de 4 membres);
        </p>
        <p>
          4 billets pour voir le match préliminaire des <a href='http://www.evenko.ca/en/show/event/red-sox-vs-blue-jays-10547'>Toronto vs Boston</a> au stade olympique le 1er Avril 2016
        </p>
      </li>
      <li>
        <h3>Finaliste Montréal (Deuxième prix)</h3>
        <p>
          Un abonnement Super Premium de 12 mois à <a href='http://www.baseballprospectus.com/subscriptions/'>Baseball Prospectus</a> pour chaque membre de l’équipe (maximum de 4 membres).
        </p>
      </li>
      <li>
        <h3>Vainqueur du Grand Prix du Hack Day</h3>
        <p>
          En plus, le meilleur des équipes gagnantes des villes participantes recevra également des prix supplémentaires).
        </p>
      </li>
      <li>
        <h3>Meilleure utilisation de l’<a href='https://developer.sportradar.com/'>API Sports Data</a></h3>
        <p>
          Saison 2016 (6 mois) - Clé MLB en temps-réel.
        </p>
        <p>
          <a href='mailto:daigo@baseballhackday.com'>(Vous voulez contribuer un prix? Contactez-nous.)</a>
        </p>
      </li> 
      -->
    </ul>
  </section>
  <section class='judges'>
    <h2>Les Juges</h2>
    <ul>
      <li>
        <h3>À venir</h3>
      </li>
     <!--  
     <li>
        <h3><a href="https://twitter.com/matthewwords">Matthew Ross</a></h3>
        <p>
          Animateur à TSN 690, Fondateur d'ExposNation
        </p>
      </li>
      <li>
        <h3><a href="https://twitter.com/jeremyfilosa">Jeremy Filosa</a></h3>
        <p>
          Animateur au 98.5FM Sports
        </p>
      </li>
      <li>
        <h3><a href="https://twitter.com/eliasmakos">Elias Makos</a></h3>
        <p>
          Animateur des Nouveaux Médias sur Breakfast Television, Ancien Agent de Publicité pour les  Montréal Expos
        </p>
      </li> 
      -->
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Rejoignez-nous!</h2>
    <article>
    <p>Nous sommes fiers d’annoncer l’arrivée du troisième rendez-vous annuel du Baseball Hack Day à Montréal le 25 mars 2017. Il sera tenu à l’espace Breather dans l’édifice Belgo, et rejoindra ainsi six autres villes dans l’initiative d’organisation de cette journée événementielle. Le but est d’encourager le développement des partenariats, expériences et projets reliés au Baseball pour créer de meilleurs liens entre le milieu de la technologie et les communautés sportives. Le Baseball Hack Day aura également lieu à Boston, Philadelphie, Chicago, San Francisco, Seattle et Portland.</p>

      <p>Le Baseball Hack Day vise à rassembler les esprits créatifs entre quatre murs et voir ce dont ils sont capables dans un temps limité. Le projet peut être (mais n’est pas limité à), un outil, une application web ou mobile, un site web, ou une représentation graphique. Avec une historique qui s’étend aux 150 dernières années, il n’existe pas de meilleur sport pour venir mettre au défi le développement de projets web uniques, tant dans le design que d’aspect technique.</p>

      <p>Les graphistes, développeurs, statisticiens, et amateurs de baseball seront tous les bienvenus à participer à cet événement. Nous recherchons aussi des commanditaires et un jury pour évaluer les projets. La participation est gratuite mais les places sont limitées, nous vous encourageons donc à vous inscrire rapidement.</p>

      <p>La journée comprendra un petit déjeuner, un dîner, ainsi que des breuvages et collations. Elle se terminera par une cérémonie de remise de prix pour le meilleur projet.</p>

      <p>Inspirez-vous et <a target="_blank" href="https://2016baseballhackday.devpost.com/submissions">cliquez ici pour accéder à liste des projets des lauréats de 2016</a>. Vous pouvez accéder plusieurs ressources supplémentaires sur nos pages <a target="_blank" href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github</a> et <a target="_blank" href="http://baseballhackday.tumblr.com/">tumblr</a>. Et, bien sur, nous suivre sur Twitter <a target="_blank" href="https://twitter.com/mtlbbhackday"></a>@mtlbbhackday.</p>

<!--       <a class='action-primary' href='http://montrealbaseballhackday.eventbrite.com'>
        S'enregistrer
      </a> -->
    </article>
  </section>

<!-- 
  <section class='guidelines'>
    <h2>Three Tracks in Montreal</h2>
    <article>
      <p>To encourage participation of developers and designers of all levels, there will be <strong>three tracks</strong>:</p>
      <ul>
        <li>First, <strong>"hacking track"</strong> is our usual, typical Baseball Hack Day track. You come with project and recruit people, or come and find a project to join and work on it for the day.</li>
        <li>Second one is a <strong>"project track"</strong>, where we have project/challenge ready to be worked on. There will be a "project manager" or "leader" type person to lead the team(s) to solve the challenge.</li>
        <li>Third one is a <strong>learning track</strong>, which is mostly designed for first-time hackathon attendees. This is where you can learn how to hack from Baseball Hack Day's mentor volunteers. Less like competition and more like a workshop.</li>
      </ul>
    </article>
  </section>
 -->
  <section class='guidelines'>
    <h2>Règles et directives</h2>
    {% include rule-fr.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  <section class='email-signup'>
    {% include mc-signup-fr.html %}
  </section>
</div>
