---
layout: default
body-class: montreal city-show
title: 2017 Montreal Baseball Hack Day
description: Fun, friendly, free, one-day, on-site hacking/coding competition for baseball fans.
twitter : baseballhackday
socialimage: http://www.baseballhackday.com/images/bbhd-2016.png
---
<header class='banner'>
  <div class='wrapper'>
    <div>
      <h2 class='mtl-h2'>Montreal</h2>
      <a class='language-btn' href='index-fr.html'>Version Française</a>
    </div>
    <p class='time-location'>
      <span class='time'>Saturday, March 25th 2017, 9:30am – 6pm</span>
      <span class='location'>Belgo Building Breather Space,<br>372 Sainte Catherine Street West, Suite 105,<br>Montreal QC, H3B 1A2</span>
    </p>
    <!-- <a class='action' href='https://mtlbbhd2017.eventbrite.com'>Register!</a> -->
  </div>
</header>
<div class='wrapper'>
  <section class='schedule'>
    <h2>Schedule</h2>
    {% include schedule.html %}
  </section>

  <section class='sponsors'>
    <header>
      <h2>Sponsors</h2>
    </header>
    <ul class='sponsor-list'>
      <li>
        <a class='mlbam' href='http://mlbam.com'>
          <img alt='mlbam Logo' src='/images/boston-sponsors/mlbam.png'>
          <h3>MLB Advanced Media</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='plank' href='http://plankdesign.com'>
          <img alt='Plank Logo' src='/images/montreal-sponsors/plank.png'>
          <h3>Plank</h3>
          <small>Community Sponsor</small>
        </a>
      </li>
      <!-- <li>
        <a class='sportradar' href='http://www.sportradar.com/'>
          <img alt='sportradar logo' src='/images/boston-sponsors/sportradar.png'>
          <h3>SportRadar</h3>
          <small>API</small>
        </a>
      </li>
      <li>
        <a class='baseball-prospectus' href='http://www.baseballprospectus.com'>
          <img alt='baseball-prospectus Logo' src='/images/chicago-sponsors/baseball-prospectus.png'>
          <h3>Baseball Prospectus</h3>
          <small>Prizes</small>
        </a>
      </li>
      <li>
        <a class='evenko' href='http://www.evenko.ca/'>
          <img alt='evenko logo' src='/images/montreal-sponsors/evenko.jpg'>
          <h3>evenko</h3>
          <small>Entertainment Promoters</small>
        </a>
      </li> -->
      <a class='action-primary' target="_blank" href='https://docs.google.com/document/d/1807dtDcPWOwXBolu_dSPynEjoyp1yYR_Zzw3gCyArFA/edit?usp=sharing'>
        Be a Sponsor
      </a>
    </ul>
  </section>

  <section class='prizes'>
    <h2>Prizes</h2>
    <ul>
      <li>
        <h3>To be announced.</h3>
        (Want to sponsor a prize? <a href="mailto:mtlbbhd@plankdesign.com">Email us</a>.)
      </li>
     <!--  <li>
        <h3>Montreal Overall Winner</h3>
        <p>
          An annual <a href='http://www.mlb.tv/'>MLB.TV</a>Premium subscription for each team member (maximum team size of four).
        </p>
        <p>
          4 Tickets to see the exhibition <a href='http://www.evenko.ca/en/show/event/red-sox-vs-blue-jays-10547'>Toronto vs Boston</a> baseball game at the Olympic Stadium on April 1st, 2016.
        </p>
      </li>
      <li>
        <h3>Montreal Runner Up</h3>
        <p>
          The second place team of the Montreal competition will win a 12 month Super Premium subscription to <a href='http://www.baseballprospectus.com/subscriptions/'>Baseball Prospectus</a> online for each team member (maximum team size of four).
        </p>
      </li>
      <li>
        <h3>Baseball Hack Day Grand Prize Winner</h3>
        <p>
          In addition, the team who takes the grand prize (best of the winning teams of participating cities) will also recieve additional prize (and major bragging rights!)
        </p>
      </li>
      <li>
        <h3>Best Use of <a href='https://developer.sportradar.com/'>SportRadar API</a></h3>
        <p>
          The project across all 5 cities that makes the best use of SportRadar API wins a 2016 season (6-month) Real Time MLB key.
        </p>
        <p>
          <a href='mailto:daigo@baseballhackday.com'>(Want to sponsor a prize? Email us.)</a>
        </p>
      </li> -->
    </ul>
  </section>
  <section class='judges'>
    <h2>Judges</h2>
    <ul>
      <li>
        <h3>To be announced.</h3>
      </li>
    <!--   <li>
        <h3><a href="https://twitter.com/matthewwords">Matthew Ross</a></h3>
        <p>
          TSN 690 Host, ExposNation Founder
        </p>
      </li>
      <li>
        <h3><a href="https://twitter.com/jeremyfilosa">Jeremy Filosa</a></h3>
        <p>
          98.5FM Sports Host
        </p>
      </li>
      <li>
        <h3><a href="https://twitter.com/eliasmakos">Elias Makos</a></h3>
        <p>
          Breakfast Television New Media Host, Former Montreal Expos PR
        </p>
      </li> -->
    </ul>
  </section>


  <section class='guidelines'>
    <h2>Come join us!</h2>
    <article>
    <p>Love creating stuff on your computer and LOVE baseball? Join us for the third annual Montreal Baseball Hack Day on March 25th, 2017. Held at the Breather space in the Belgo Building, the Montreal Baseball Hack Day will be joining six other baseball-loving cities in hosting this one-day event to encourage the development of baseball-related projects, partnerships and experiments with the goal of creating better ties between our technology and sports communities. This year’s event takes place simultaneously in Boston, Philadelphia, Chicago, San Francisco, Seattle, Portland, and here in Montreal.</p>

      <p>It’s a day where creative minds come together and see what cool projects can be created within a limited time. The project could be (but is not limited to) a tool, simple web app, mobile app, website, or data visualization. With a data set that extends back almost 150 years, there is no better sport to challenge the development of unique technical & design focused internet projects.</p>

      <p>Designers, developers, statisticians, and baseball enthusiasts alike are welcome! We are also looking for sponsors to help offset the costs of hosting our inaugural event and judges to evaluate the projects and then present the winning team with a grand prize. There is no cost to attend and participate in the event, but there are limited spots available, so we encourage you to book early.</p>

      <p>The full day event will include breakfast, lunch and a bevy of snacks throughout the day. We will end with an award ceremony to present the winning project.</p>

      
      <p>New to hack days? Have no fear. <a href="https://2016baseballhackday.devpost.com/submissions">See last year’s submissions</a>, check our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out our <a href="http://baseballhackday.tumblr.com/">inspiration blog on tumblr</a>, and follow us on Twitter <a href="https://twitter.com/mtlbbhackday">@mtlbbhackday</a>.</p>

      <p>Registration opens on February 13th. Sign up below to be notified.</p>
    </article>
  </section>

<!-- 
  <section class='guidelines'>
    <h2>Three Tracks in Montreal</h2>
    <article>
      <p>To encourage participation of developers and designers of all levels, there will be <strong>three tracks</strong>:</p>
      <ul>
        <li>First, <strong>"hacking track"</strong> is our usual, typical Baseball Hack Day track. You come with project and recruit people, or come and find a project to join and work on it for the day.</li>
        <li>Second one is a <strong>"project track"</strong>, where we have project/challenge ready to be worked on. There will be a "project manager" or "leader" type person to lead the team(s) to solve the challenge.</li>
        <li>Third one is a <strong>learning track</strong>, which is mostly designed for first-time hackathon attendees. This is where you can learn how to hack from Baseball Hack Day's mentor volunteers. Less like competition and more like a workshop.</li>
      </ul>
    </article>
  </section>
 -->
  <section class='guidelines'>
    <h2>Guidelines &amp; Rules</h2>
    {% include rule.html %}
    <article>
      <!-- <p>Put additional local rules here</p> -->
    </article>
  </section>

  <section class='email-signup'>
    {% include mc-signup.html %}
  </section>
</div>
