---
layout: default
body-class: about-history
---

%header.banner
  .wrapper
    %h2 About &amp; History

.wrapper

  %section.about
    %h2 About the hack day

    %article
      %p Love creating stuff on your computer and LOVE baseball? Come hack with us!

      %p The fourth annual Baseball Hack Day is a fun, friendly one-day hacking competition for baseball fans. In three cities, <a href="/boston/">Boston</a>, <a href="/philly/">Philadelphia</a>, and <a href="http://mtlbaseballhackday.com/">Montreal</a>. 

      %p It is the day where area baseball minds come together and see what cool projects can be created within a limited time. The project could be (but is not limited to) a tool, app, website, or data visualization. Baseball Hack Day is a free event thanks to our generous sponsors.

      %p New to hack days? Have no fear. There&rsquo;ll be people of all skill levels and skill sets participating. See our resources in <a href="https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas">github wiki</a>, check out our <a href="http://baseballhackday.tumblr.com/">inspiraton blog on tumblr</a>, and follow us on Twitter <a href="https://twitter.com/baseballhackday">@BaseballHackDay</a>

      %p Baseball Hack Day was orginally born out of a Boston area news &amp; geek meetup group <a href="http://meetupbos.hackshackers.com/">Hacks/Hackers</a> and <a href="http://chapters.sabr.org/boston/">Society of American Baseball Research Boston Chapter</a> after watching terrible collapse of 2011 Red Sox season. Our <a href="/2012/">first event was held at The Boston Globe on March 24, 2012</a> with 35 participants with 9 projects. In 2013, <a href="/2013/">thoughtbot hosted a 31-participants, 10-projects fun and inspiring hack day</a> in March. In 2014, Baseball Hack day <a href="/2014/">expanded into two cities, Boston and Philadelphia</a>. You can see submissions and winners of the past years: <a href="https://www.hackerleague.org/hackathons/boston-baseball-hack-day-2013/hacks">2013</a> and <a href="http://baseballhackday.challengepost.com/submissions">2014</a>.

      %p The event is based on the principal of <a href="http://hackdaymanifesto.com/">the Hack Day Manifesto</a>. It will always be free to attend, and we won&rsquo;t make participants sign any type of documents. We are run by volunteers, and we&rsquo;ll never be for-profit.

  %aside
    %h2 Forum &amp; Resources
    %p New to hack days? No need to fear. There'll be people of all skill levels and skill sets participating.

    %ul
      %li
        %a{ class: "action-primary", href: "https://moot.it/baseballhackday" } Forum
      %li
        %a{ class: "action-primary", href: "https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas" } Resources &amp; Ideas
      %li 
        %a{ class: "action-primary", href: "http://baseballhackday.tumblr.com/" } Inspiraton Blog
