---
layout: default
body-class: about-history
---

%header.banner
  .wrapper
    %h2 API information

.wrapper.api
  %ul
    %li
      %h2 A View From My Seat
      %p These include: lots of photos, venue info, section info, geo location

      %h3 JSON APIs
      %ul
        %li
          The appkey for everyone is : c17d17fc9af203465ac9d79457f2d25e
        %li
          Docs can be fond at: http://developer.aviewfrommyseat.com/docs.php

      %p 
        %strong Sample calls:
      %ul
        %li
          %code 
            %a{ href: "ttps://aviewfrommyseat.com/avf/api/featured.php?appkey=c17d17fc9af203465ac9d79457f2d25e" } https://aviewfrommyseat.com/avf/api/featured.php?appkey=c17d17fc9af203465ac9d79457f2d25e
        %li
          %code 
            %a{ href: "http://api.avf.ms/featured.php?appkey=c17d17fc9af203465ac9d79457f2d25e" } http://api.avf.ms/featured.php?appkey=c17d17fc9af203465ac9d79457f2d25e

      %h3 Single Image API
      %p 
        Docs can be found here: 
        %a{ href: "http://developer.aviewfrommyseat.com/image_api.php" } http://developer.aviewfrommyseat.com/image_api.php

      %p
        %strong Sample call:
      %ul 
        %li 
          %code
            %a{ href: "http://aviewfrommyseat.com/image.php?width=800c&venue=Citizens+Bank+Park&sport=baseball&section=1     20&appkey=c17d17fc9af203465ac9d79457f2d25e" } http://aviewfrommyseat.com/image.php?width=800c&venue=Citizens+Bank+Park&sport=baseball&section=120&appkey=c17d17fc9af203465ac9d79457f2d25e

    %li
      %h2 SeatGeek
      %p 
        SeatGeek is a search engine for tickets to live events, including Major League and Minor League baseball games. They have a powerful, easy-to-use API that allows you to tap into their event catalog to obtain information on events, performers, venues, ticket prices and more.
      %p 
        There is 
        %strong No Rate Limits, No API Keys, and No Caching Restrictions.
      %p
        Go to 
        %a{:href => "https://seatgeek.com/build"}seatgeek.com/build for information on their API
        , and to 
        %a{:href => "http://platform.seatgeek.com/"}platform.seatgeek.com for API documentation

    %li
      %h2 Sports Data, LLC
      %p 
        SportsData is providing 
        %a{:href => "http://developer.sportsdatallc.com/api_pricing"}Real-Time level access of its MLB API 
        for Baseball Hack Day participants. Checkout the  
        %a{:href => "http://developer.sportsdatallc.com/docs"} Getting Started documentation 
        and 
        %a{:href => "http://developer.sportsdatallc.com/docs/read/MLB_API"}MLB API documentation
        on their portal - you can also test out calls using 
        %a{:href => "http://developer.sportsdatallc.com/io-docs"}Example I/O Docs.
        Here’s how to get your API keys:
      %ol
        %li
          Register at 
          %a{:href => "http://developer.sportsdatallc.com/member/register"}developer.sportsdatallc.com/member/register 
          in the "Other" field, enter 
          %strong 
            Baseballhackday2015 
          (all one word) 
        %li
          Confirm your account by clicking the link in confirmation email (check your Spam folder after submitting your registration if you do not immediately receive an email)
        %li
          SportsData will email you one MLB Real-Time key - with a 1 million call limit - that lets you access all of our MLB data sets.
      %p
        This key will expire after the event, however, your trial key will still give you limited access.


 
    %li
      %h2 TiqIQ
      %p These include: Upcoming events, tickets, prices, trends, seating charts

      %h3 XML APIs
      %ul
        %li
          See 
          %a{ href: "https://drive.google.com/file/d/0B-zWdFg8Kq5Yc0kyM2lvV2c5dFhKSC1BcXpKSU0tRHphc0tz/view?usp=sharing" } TiqIQWebService doc.
        %li
          No key is necessary.

    %hr
    %p 
      Also checkout our
      %a{:href => "https://github.com/baseballhackday/data-and-resources/wiki/Resources-and-ideas"}Resources Wiki