header.main {
  @include position(absolute, 0 0 null 0);
  @include outer-container;
  padding: 2em 2em 0;

  h1 {
    float: left;

    svg {
      @include size(rem(125));

      g {
        fill: $light-tan;
      }
    }
  }

  .menu {
    display: none;
  }

  nav {
    padding-top: 2em;
  }

  ul {
    float: right;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }

  a {
    @include secondary-header;

    &:hover {
      color: #fff;
    }
  }

  .github {
    &:after {
      @include size(0.25em);
      background-color: rgba($tan, 0.6);
      position: relative;
      top: -5px;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-left: 1em;
    }
  }
}

footer.main {
  text-align: center;
  padding: $large-spacing 2em;

  &:before {
    @include size(em(100) 5px);
    display: inline-block;
    background-color: $light-tan;
    content: "";
    margin-bottom: $large-spacing;
  }

  li {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include secondary-header;

      &:hover {
        color: $tan;
      }
    }
  }

  section {
    margin-top: $large-spacing;
  }

  h3 {
    @include secondary-header;
  }

  h4 {
    font-weight: normal;
    font-size: 1.25em;
    color: $base-font-color;
    max-width: em(500);
    margin: 0 auto;
  }
}
