---
# Layouts must stay in html
---

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="stylesheet" href="/css/application.css">
 
      <script src="//use.typekit.net/uyp2hnr.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>

      <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
      <meta property="og:site_name" content="{{ site.title }}"/>
      <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
      <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
      <meta property="og:image" content="{% if page.socialimage %}{{ page.socialimage }}{% else %}{{ site.socialimage }}{% endif %}"/>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@{% if page.twitter %}{{ page.twitter }}{% else %}{{ site.twitter }}{% endif %}">
      <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
      <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      <meta name="twitter:image" content="{% if page.socialimage %}{{ page.socialimage }}{% else %}{{ site.socialimage }}{% endif %}">
  
  </head>

  <body class="{% if page.body-class %}{{ page.body-class  }}{% endif %}">
    <header class="main">
      <h1>
        <a href="/">
          {% include bbhd-logo.svg %}
        </a>
      </h1>

      <nav>
        <a href="#" class="menu">Menu</a>
        {% include navigation.html %}
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="main">
      <nav>
        {% include navigation.html %}
      </nav>
      <nav>
        <ul>
          <li><a href="http://twitter.com/baseballhackday">Twitter</a></li>
          <li><a href="http://github.com/baseballhackday">GitHub</a></li>
        </ul>
      </nav>
      <section>
        <h3>Organized by</h3>
        <h4>Daigo Fujiwara &amp; Matthew Shanley (Boston),
          <br>Mike Gadsby, Courtney Wilburn &amp; Kyle Fiedler (Philadelphia),
          <br>Warren Wilansky &amp; Erin Whitney (Montreal)
          <br>Wil Chandler &amp; Colin Shevlin (Chicago)
          <br>David Lee (SF/Bay Area)
        </h4>
        <p>Don't see your city? <a href="https://docs.google.com/document/d/1bwzyhGPWIfZ6w5FyQqUOpu_s8vkUwcrPy2UHvw4QImY/edit?usp=sharing">Start a chapter</a></p>
      </section>
      <section>
        <h3>Site by</h3>
        <h4>
          <a href="http://thoughtbot.com">thoughtbot</a> and <a href="https://www.plankdesign.com">Plank</a>
        </h4>
      </section>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="/js/app.js"></script>

    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-339429-12','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
