---
layout: default
body-class: index
---


%header.hero
  %h1.logo {% include bbhd-logo.svg %}
  %h2 Hacking is 90% mental, the other half is physical.
  %h3 Pick your team

.boston.city
  %h2 Boston
  %p.time-location
    %span.time March 28th 2015, 9:30am – 6pm
    %span.location TBD

  %a.action{ href: "/boston" } Join team

.philly.city
  %h2 Philly
  %p.time-location
    %span.time March 28th 2015, 9:30am – 6pm
    %span.location TBD

  %a.action{ href: "/boston" } Join team

